<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="indexf/public/css/base.css">
		<link rel="stylesheet" href="indexf/public/css/g1-paySuccess.css">
		<link rel="stylesheet" href="indexf/public/css/libraries/swiper.css">
		<script src="indexf/public/js/libraries/jquery-1.12.4.js"></script>
		<script src="indexf/public/js/libraries/swiper.js"></script>
	    <script src="indexf/public/js/g1-paySuccess.js"></script>
		<title>支付方式</title>
	</head>
	<body>
		<div class="g1-paySuccess-payment-container">
			<!--支付模块，支付方式页面-订单提交成功-->
			<div class="g1-paySuccess-payment-container-top clearFix">
				<img class="g1fl" src="indexf/public/img/other/x1-modeOfPay-img1.jpg" alt="" />
				<div class="g1-paySuccess-payment-container-top-right g1fl">
					<div class="g1-paySuccess-payment-container-top-right-ZT1">
						订单信息已提交，快去付款吧
						<p class="g1-paySuccess-payment-container-top-right-ZT2 g1fr">应付金额:
							<span class="g1-paySuccess-payment-container-top-right-ZT3">556</span>
							<span class="g1-paySuccess-payment-container-top-right-ZT5">元</span>
						</p>
					</div>
					<p class="g1-paySuccess-payment-container-top-right-ZT4">订单在24小时内支付有效，超市则订单会自动取消</p>
					<p id="g1-paySuccess-payment-details" class="g1-paySuccess-payment-container-top-right-ZT5">
						订单详情
						<img id="g1-paySuccess-payment-details-img" src="indexf/public/img/icon/triangle-orange-1.png" alt="" />
					</p>
				</div>				
			</div>
			<!--结束-->
			<!--订单详情-->
			<div id="g1-paySuccess-payment-details-content" class="g1-paySuccess-payment-details-content">
				<p class="g1-paySuccess-payment-details-content-ZT">订单编号：543534534534</p>
				<p class="g1-paySuccess-payment-details-content-ZT">
					商品名称：
					<span>
						2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装
					</span>
					
				</p>
				<p class="g1-paySuccess-payment-details-content-style g1-paySuccess-payment-details-content-ZT">
						2018新款女包韩版时尚单肩包斜挎包简约张瑟医生包手提女式包
				</p>
				<p class="g1-paySuccess-payment-details-content-ZT">收货地址：河北省 石家庄市  桥西区 XXXXXXXXX</p>
				<p class="g1-paySuccess-payment-details-content-ZT">购买时间：2018-04-03 19:00</p>
			</div>
			<!--结束-->
			<!--支付方式选择-->
			<div class="g1-paySuccess-payment-choose">
				<p class="g1-paySuccess-payment-choose-ZT1">支付方式</p>
				<div id="g1-paySuccess-payment-choose-chat" class="g1-paySuccess-payment-choose-pay g1fl">
					<img src="indexf/public/img/other/x1-modeOfPay-img3.jpg"/>
				</div>
				<div id="g1-paySuccess-payment-choose-ZFB" class="g1-paySuccess-payment-choose-pay g1fl">
					<img src="indexf/public/img/other/x1-modeOfPay-img2.jpg"/>
				</div>
			</div>
			<!--结束-->
		</div>
		<!--微信扫码支付-->
		<div id="g1-paySuccess-payment-container-chatPay" class="g1-paySuccess-payment-container-chatPay">
			<div>
				<img id="g1-paySuccess-payment-container-chatPay-GB" class="img1" src="indexf/public/img/other/gi-paySuccess-gb.png" alt="" />
				<img class="img2" src="indexf/public/img/other/x1-modeOfPay-img5.jpg"/>
			</div>
			
		</div>
		<!--结束-->
		<!--支付宝扫码支付-->
		<div id="g1-paySuccess-payment-container-Alipay" class="g1-paySuccess-payment-container-chatPay">
			<div>
				<img id="g1-paySuccess-payment-container-Alipay-GB" class="img1" src="indexf/public/img/other/gi-paySuccess-gb.png" alt="" />
				<img class="img2" src="indexf/public/img/other/g1-modeOfPay-img5.png"/>
			</div>
			
		</div>
		<!--结束-->
	</body>
</html>
