<!--支付成功展示页-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/x1-paySuccess.css">
	<link rel="stylesheet" href="../../public/css/libraries/swiper.css">
	<script src="../../public/js/libraries/jquery-1.12.4.js"></script>
	<script src="../../public/js/libraries/swiper.js"></script>
    <script src="../../public/js/x1-paySuccess.js"></script>
    <title>支付成功-中</title>
</head>
<body>
	<!--替换头部导航栏的line-->
	<hr class="y1-shopping-line">
	<!--购买成功-->
	<div class="x1-paySuccess-box">
		<div class="x1-paySuccess">
			<div class="x1-paySuccess-div clearFix">
				<div class="x1-paySuccess-left">
					<img src="../../public/img/other/x1-modeOfPay-img1.jpg" />
				</div>
				<div class="x1-paySuccess-right">
					<p class="x1-paySuccess-right-p">购买成功</p>
					<p class="x1-paySuccess-right-p">我们会尽快为您处理</p>
				</div>
			</div>
			<div class="x1-paySuccess-text clearFix">
				<p class="x1-paySuccess-text-p">订单编号 : <span>1154784562155545989</span></p>
				<p class="x1-paySuccess-text-p1">付款金额 : <span>468元</span></p>
			</div>
			<div class="x1-paySuccess-operation clearFix">
				<div class="x1-paySuccess-operation-div">查看订单详情</div>
				<div class="x1-paySuccess-operation-div1">继续购物</div>
			</div>
		</div>
		<div class="x1-paySuccess-youLike clearFix">
			<p class="x1-paySuccess-youLike-p">猜你喜欢</p>
			<div class="x1-paySuccess-swiper-container swiper-container clearFix">
				<div class="swiper-wrapper">
					<div class="swiper-slide clearFix">
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
					</div>
					<div class="swiper-slide clearFix">
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
					</div>
					<div class="swiper-slide clearFix">
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
						<div>
							<img src="../../public/img/other/content2-img1.jpg" />
							<div class="swiper-slide-text">
								2018春季新款女装欧美大牌喇叭袖 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="swiper-slide-p">￥128.00</p>
						</div>
					</div>
				</div>
				<div class="swiper-pagination x1-paySuccess-pagi"></div>
			</div>
		</div>
	</div>
</body>
</html>