<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/top-10.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="flower-index-header">
			<div class="flower-index-header-top clearFix">
				<div class="flower-index-header-top-con">
					<div class="fflower_l flower-index-header-top-con-left-div">
						<a class="flower-index-header-top-con-left-li" href="#">收藏企乐网</a>
						<i>|</i>
						<a class="flower-index-header-top-con-left-li" href="#">关注微信</a>
						<i>|</i>
						<a class="flower-index-header-top-con-left-li" href="#">关注微信公众号</a>
					</div>
					<div class="fflower_r flower-index-header-top-con-right">
						<div class="fflower_l flower-index-header-top-con-right1-div">
							<span>你好！</span>
							<a class="flower-index-header-top-con-right1-a" href="#">请登录</a>
							<a  class="flower-index-header-top-con-right1-a" href="#">注册 </a>
							<i>|</i>
							<a  class="flower-index-header-top-con-right1-a" href="#">订单查询 </a>
							<i>|</i>
							<a  class="flower-index-header-top-con-right1-a" href="#">客服服务 </a>
						</div>
						<p class="fflower_r flower-index-header-top-con-right2-p">我的购物车<span>0</span>件商品</p>
					</div>
				</div>
			</div>
			<div class="flower-index-header-search clearFix">
				<img class="fflower_l flower-index-header-search-left-img" src="template/public/img/other/flower-index-1.png" />
				<div class="fflower_r flower-index-header-search-right">
					<input class="fflower_l flower-index-header-search-right-inp" type="text" placeholder="请输入关键词例如：女装短裙" />
					<input class="fflower_l flower-index-header-search-right-btn" type="button" />
				</div>
			</div>
			<!--导航-->
			<div class="flower-index-header-nav clearFix">
				<ul class="flower-index-header-nav-ul">
					<li class="fflower_l flower-index-header-nav-li flower-index-header-nav-li-bh">
						<a href="#">首页</a>
					</li>
					<li class="fflower_l flower-index-header-nav-li">
						<a href="#">热销鲜花</a>
					</li>
					<li class="fflower_l flower-index-header-nav-li">
						<a href="#">爱情鲜花</a>
					</li>
					<li class="fflower_l flower-index-header-nav-li">
						<a href="#">生日鲜花</a>
					</li>
					<li class="fflower_l flower-index-header-nav-li">
						<a href="#">问候长辈</a>
					</li>
					<li class="fflower_l flower-index-header-nav-li">
						<a href="#">开业花篮</a>
					</li>
					<li class="fflower_l flower-index-header-nav-li">
						<a href="#">花语大全</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
