<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/top-13.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/top-13.js"></script>
		<title></title>
	</head>
	<body>
		<div class="ghmz-index-header clearFix">
			<div class="ghmz-index-header-top-con">
				<div class="ghmz-index-header-top-con-left-div">
					<a class="ghmz-index-header-top-con-left-li" href="#">登陆</a>
					<i>|</i>
					<a class="ghmz-index-header-top-con-left-li" href="#">注册</a>
					<i>|</i>
					<a class="ghmz-index-header-top-con-left-li" href="#">预约电话：400-2356-678</a>
				</div>
			</div>
			<div class="ghmz-index-header-search clearFix">
				<img class="fghmz_l ghmz-index-header-search-left-img" src="template/public/img/other/ghmz-index-1.png" />
				<div class="fghmz_l ghmz-index-header-search-center">
					<input class="fghmz_l ghmz-index-header-search-center-inp" type="text" placeholder="请输入关键词例如：女装短裙" />
					<input class="fghmz_l ghmz-index-header-search-center-btn" type="button" />
				</div>
				<p class="fghmz_r ghmz-index-header-search-right">我的购物车0件商品</p>
			</div>
			<!--导航-->
			<div class="ghmz-index-header-nav clearFix">
				<ul class="ghmz-index-header-nav-ul">
					<li class="fghmz_l ghmz-index-header-nav-li ghmz-index-header-nav-li-bh">
						<a href="#">首页</a>
					</li>
					<li class="fghmz_l ghmz-index-header-nav-li">
						<a href="#">护肤</a>
					</li>
					<li class="fghmz_l ghmz-index-header-nav-li">
						<a href="#">彩妆</a>
					</li>
					<li class="fghmz_l ghmz-index-header-nav-li">
						<a href="#">护发</a>
					</li>
					<li class="fghmz_l ghmz-index-header-nav-li">
						<a href="#">染发</a>
					</li>
					<li class="fghmz_l ghmz-index-header-nav-li">
						<a href="#">男士</a>
					</li>
					<li class="fghmz_l ghmz-index-header-nav-li">
						<a href="#">男士发型</a>
					</li>
					<li class="fghmz_l ghmz-index-header-nav-li">
						<a href="#">女士发型</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
