<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/top-12.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/top-12.js"></script>
		<title></title>
	</head>
	<body>
		<div class="deng-index-header clearFix">
			<div class="deng-index-header-search clearFix">
				<img class="fdeng_l deng-index-header-search-left-img" src="template/public/img/other/deng-index-1.png" />
				<div class="fdeng_l deng-index-header-search-center">
					<input class="fdeng_l deng-index-header-search-center-inp" type="text" placeholder="请输入关键词例如：女装短裙" />
					<input class="fdeng_l deng-index-header-search-center-btn" type="button" />
				</div>
				<p class="fdeng_r deng-index-header-search-right">我的购物车0件商品</p>
			</div>
			<!--导航-->
			<div class="deng-index-header-nav clearFix">
				<ul class="deng-index-header-nav-ul">
					<li class="fdeng_l deng-index-header-nav-li deng-index-header-nav-li-bh">
						<a href="#">首页</a>
					</li>
					<li class="fdeng_l deng-index-header-nav-li">
						<a href="#">灯具</a>
					</li>
					<li class="fdeng_l deng-index-header-nav-li">
						<a href="#">卫浴</a>
					</li>
					<li class="fdeng_l deng-index-header-nav-li">
						<a href="#">工具</a>
					</li>
					<li class="fdeng_l deng-index-header-nav-li">
						<a href="#">家装建材</a>
					</li>
					<li class="fdeng_l deng-index-header-nav-li">
						<a href="#">五金工具</a>
					</li>
					<li class="fdeng_l deng-index-header-nav-li">
						<a href="#">家装定制</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
