<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/top-11.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="cake-index-header clearFix">
			<div class="cake-index-header-top-con">
				<div class="fcake_l cake-index-header-top-con-left-div">
					<a class="cake-index-header-top-con-left-li" href="#">登陆</a>
					<i>|</i>
					<a class="cake-index-header-top-con-left-li" href="#">注册</a>
					<i>|</i>
					<a class="cake-index-header-top-con-left-li" href="#">预约电话：400-2356-678</a>
				</div>
				<p class="fcake_r cake-index-header-top-con-right">我的购物车0件商品</p>
			</div>
			<div class="cake-index-header-search clearFix">
				<img class="fcake_l cake-index-header-search-left-img" src="template/public/img/other/cake-index-1.png" />
				<div class="fcake_r cake-index-header-search-right">
					<input class="fcake_l cake-index-header-search-right-inp" type="text" placeholder="请输入关键词例如：女装短裙" />
					<input class="fcake_l cake-index-header-search-right-btn" type="button" />
				</div>
			</div>
			<!--导航-->
			<div class="cake-index-header-nav clearFix">
				<ul class="cake-index-header-nav-ul">
					<li class="fcake_l cake-index-header-nav-li cake-index-header-nav-li-bh">
						<a href="#">首页</a>
					</li>
					<li class="fcake_l cake-index-header-nav-li">
						<a href="#">生日蛋糕</a>
					</li>
					<li class="fcake_l cake-index-header-nav-li">
						<a href="#">儿童蛋糕</a>
					</li>
					<li class="fcake_l cake-index-header-nav-li">
						<a href="#">祝寿蛋糕</a>
					</li>
					<li class="fcake_l cake-index-header-nav-li">
						<a href="#">水果蛋糕</a>
					</li>
					<li class="fcake_l cake-index-header-nav-li">
						<a href="#">多层蛋糕</a>
					</li>
					<li class="fcake_l cake-index-header-nav-li">
						<a href="#">蛋糕礼仪</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
