<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/top-2.css"/>
		<script src="template/public/js/libraries/jquery-1.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<script src="template/public/js/top-2.js"></script>
		<title></title>
	</head>
	<body>
	<!--header nav modules-->
<div class="y2-header-nav">
    <ul class="y2-header-nav-ul">
        <li class="y2-header-nav-ul-li">登录</li>
        <li class="y2-header-nav-ul-li">|</li>
        <li class="y2-header-nav-ul-li">注册</li>
        <li class="y2-header-nav-ul-li">|</li>
        <li class="y2-header-nav-ul-li">我的购物车(<span class="y2-header-nav-ul-span">0</span>)</li>
    </ul>
</div>
<!--logo modules-->
<div class="y2-header-logo">
    <img src="template/public/img/y2-header-logo.jpg" alt="">
</div>
<!--mainnav modules-->
<div class="y2-header-container">
    <!--mainnav-->
    <ul class="y2-hedaer-mainnav-ul">
        <li class="y2-hedaer-mainnav-ul-li y2-hedaer-mainnav-ul-li-active">精选</li>
        <li class="y2-hedaer-mainnav-ul-li">
            <a href="javasctipt:;">
                女装
            </a>
        </li>
        <li class="y2-hedaer-mainnav-ul-li">
            <a href="javasctipt:;">
                男装
            </a>
        </li>
        <li class="y2-hedaer-mainnav-ul-li">
            <a href="javasctipt:;">
                儿童
            </a>
        </li>
        <li class="y2-hedaer-mainnav-ul-li">
            <a href="javasctipt:;">
                折扣
            </a>
        </li>
    </ul>
    <!--search-->
    <div class="y2-header-search">
        <div class="y2-search-box">
            <div class="y2-search-box1">连衣裙</div>
            <div class="y2-search-box2">T恤</div>
        </div>
        <div class="y2-search-ss">
            <img src="template/public/img/sreach-white-1.png" alt="">
            <i class="icon-sreach-gray-1"></i>
        </div>
        <div class="y2-search-text">
            <input type="text" name="search" class="y2-search-inp">
        </div>
    </div>
</div>
	
	</body>
</html>
