<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
	<!--<link rel="stylesheet" href="template/public/css/libraries/base.css">-->
	<link rel="stylesheet" href="template/public/css/top-1.css">
	<link rel="stylesheet" href="template/public/css/foot-1.css">
	<link rel="stylesheet" href="template/public/css/content-1.css">
	<script src="template/public/js/libraries/jquery-1.js"></script>
	<script src="template/public/js/libraries/swiper.js"></script>
    <script src="template/public/js/content-1.js"></script>
    <script src="template/public/js/top-1.js"></script>
	<title>首页一</title>
</head>
<body>
<!-- headr-->
<div class="header"><!--顶部导航-->
<div class="y1-header-nav">
    <ul class="y1-header-left-ul clearFix">
            <li class="y1-header-li">商城欢迎您！</li>
            <li class="y1-header-li login"><a class="f1-href login">登录</a></li>
            <li class="y1-header-li register"><a class="f1-href" href="">免费注册</a></li>
    </ul>
    <ul class="y1-header-right-ul">
            <li class="y1-header-li">
                <a class="f1-href" href="#">
					我的订单
                    <!--<img src="template/public/img/icon/1-h-item.jpg" class="y1-h-item" alt="">-->
                    <i class="icon-triangle-blank-1"></i>
                </a>
            </li>
            <li class="y1-header-li">
                <a class="f1-href" href="#">
					购物车
                   <!--<img src="template/public/img/icon/1-h-item.jpg" class="y1-h-item" alt="">-->
                    <i class="icon-triangle-blank-1"></i>
                </a>
            </li>
            <li class="y1-header-li">
                <a class="f1-href" href="#">
					个人中心
                    <!--<img src="template/public/img/icon/1-h-item.jpg" class="y1-h-item" alt="">-->
                    <i class="icon-triangle-blank-1"></i>
                </a>
            </li>
            <li class="y1-header-li">
                <a class="f1-href" href="#">
					客服服务
                    <!--<img src="template/public/img/icon/1-h-item.jpg" class="y1-h-item" alt="">-->
                    <i class="icon-triangle-blank-1"></i>

                </a>
            </li>
    </ul>
</div>
<!--页面头-->
<div class="y1-header-nav2">
    <a href="javascript:;">
        <div class="y1-header-logo">
            <img src="template/public/img/y1-header-logo.png" alt="">
        </div>
    </a>
    <div class="y1-header-search">
        <input type="text" name="search" id="y1-h-search">
        <a href="javascript:;">
            <div class="y1-header-search-box">
               <img src="template/public/img/icon/sreach-white-1.png" class="y1-h-ss" alt="">
                <i class="icon-sreach-white-1"></i>
            </div>
        </a>
    </div>
</div>
<!--手机导航自适应-->
<div class="y1-header-mainnav2">
    <div class="y1-mainnav2-container">
        <ul class="y1-mainnav2-ul">
            <li class="y1-mainnav2-ul-li ysj-li">
                <!--<img src="img/y1-header-icon1.jpg" alt="">-->
                <i class="icon-mobles-nav-white"></i>
            </li>
        </ul>
    </div>
</div>
<!--导航-->
<div class="y1-header-mainnav">
    <div class="y1-mainnav-container">
        <ul class="y1-mainnav-ul">
            <li class="y1-mainnav-ul-li">
                <a class="y1-mainnav-active" href="">首页</a>
            </li>
            <li class="y1-mainnav-ul-li">
                <a href="">新品</a>
            </li>
            <li class="y1-mainnav-ul-li">
                <a href="">热销</a>
            </li>
            <li class="y1-mainnav-ul-li">
                <a href="">女装</a>
            </li>
            <li class="y1-mainnav-ul-li">
                <a href="">男装</a>
            </li>
            <li class="y1-mainnav-ul-li">
                <a href="">配饰</a>
            </li>
            <li class="y1-mainnav-ul-li">
                <a href="">包袋</a>
            </li>
        </ul>
    </div>
</div>
</div>
	</body>
</html>
