<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/top-6.css" />
		<script src="template/public/js/libraries/jquery-1.12.4.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<script src="template/public/js/top-6.js"></script>
		<title></title>
	</head>
	<body>
		<div class="g1-index14-Header clearFix">
			<div class="g1-index14-Header-top">
				<div class="g1-index14-Header-top-content">
					<p class="g1-index14-Header-top-content-p g1f_l">欢迎来到企乐商城！</p>
					<ul class="g1-index14-Header-top-content-ul g1f_r">
						<li class="g1-index14-Header-top-content-li g1f_l"><a href="#">登录</a></li>
						<li class="g1-index14-Header-top-content-li g1f_l">|</li>
						<li class="g1-index14-Header-top-content-li g1f_l"><a href="#">注册</a></li>						
					</ul>
				</div>
			</div>
			<div class="g1-index14-Header-top-search clearFix">
				<img class="g1f_l" src="template/public/img/other/g1-index14-1.png"/>
				<div class="g1f_r g1-index14-Header-top-search-content g1f_r">
					<input id="g1-index14-search" class="g1-index14-Header-top-search-content-inp g1f_l" type="text" />
					<div class="g1-index14-Header-history">
						<ul class="g1-index14-Header-history-ul">
							<li class="g1-index14-Header-history-ul-li">
								历史记录1
								<img class="Header-history-ul-li-img" src="template/public/img/icon/g1-index14-history.png" alt="" />
							</li>
							<li class="g1-index14-Header-history-ul-li">
								历史记录1
								<img class="Header-history-ul-li-img" src="template/public/img/icon/g1-index14-history.png" alt="" />
							</li>
							<li class="g1-index14-Header-history-ul-li-active">
								<span class="g1f_r history-ul-li-active-span">清除所有</span>
							</li>
						</ul>
					</div>
					<input class="g1-index14-Header-top-search-content-btn" type="button" value="搜索" />
					<img class="g1-index14-Header-top-search-content-img" src="template/public/img/icon/g1-index14-2.png"/>
				</div>				
			</div>
		</div>
	</body>
</html>
