<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/top-7.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.min.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		
		<title></title>
	</head>
	<body>
		<div class="cha1-index-header">
			<div class="cha1-index-header-top">
				<div class="cha1-index-header-top-content">
					<p class="fcha_l cha1-index-header-top-content-p">欢迎来到企乐商城</p>
					<ul class="fcha_r cha1-index-header-top-content-ul">
						<li class="cha1-index-header-top-content-li"><a href="#">登录</a></li>
						<li class="cha1-index-header-top-content-li"><a href="#">注册</a></li>
						<li class="cha1-index-header-top-content-li"><a href="#">我的订单</a></li>
						<li class="cha1-index-header-top-content-li"><a href="#">我的收藏</a></li>
					</ul>	
				</div>
			</div>
			<!--搜索-->
			<div class="cha1-index-header-top-search">
				<img class="fcha_l cha1-index-header-top-search-img" src="template/public/img/other/cha-index-1.png" />
				<div class="fcha_r cha1-index-header-top-search-content">
					<div class="fcha_l cha1-index-header-top-search-content-ss">
						<input class="fcha_l cha1-index-header-top-search-content-inp" type="text" placeholder="搜索" />
						<input class="fcha_r cha1-index-header-top-search-content-btn" type="button"  />
					</div>
					<a class="fcha_r cha1-index-header-top-search-gwc" href="#"><img src="template/public/img/other/cha-index-2.png" /></a>
				</div>
			</div>
			<!--导航-->
			<div class="cha1-index-header-nav">
				<ul class="cha1-index-header-nav-ul">
					<li class="fcha_l cha1-index-header-nav-li">
						<a href="#">首页</a>
					</li>
					<li class="fcha_l cha1-index-header-nav-li">
						<a href="#">乌龙茶</a>
					</li>
					<li class="fcha_l cha1-index-header-nav-li">
						<a href="#">红茶</a>
					</li>
					<li class="fcha_l cha1-index-header-nav-li">
						<a href="#">绿茶</a>
					</li>
					<li class="fcha_l cha1-index-header-nav-li">
						<a href="#">白茶</a>
					</li>
					<li class="fcha_l cha1-index-header-nav-li">
						<a href="#">黑茶</a>
					</li>
					<li class="fcha_l cha1-index-header-nav-li">
						<a href="#">茶具</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
