<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/top-8.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.min.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="jiaju1-index-header">
			<div class="jiaju1-index-header-top">
				<img class="fjiaju_l jiaju1-index-header-top-img" src="template/public/img/other/jiaju-index-1.png" />
				<div class="fjiaju_l jiaju1-index-header-top-search">
					<input class="fjiaju_l jiaju1-index-header-top-search-inp" type="text"  placeholder="商品搜索"/>
					<input class="fjiaju_l jiaju1-index-header-top-search-btn" type="button" value="搜索" />
				</div>
				<div class="fjiaju_r jiaju1-index-header-top-div">
					<a class="fjiaju_l jiaju1-index-header-top-div-a" href="#">登录</a>
					<a class="fjiaju_l jiaju1-index-header-top-div-a" href="#">注册</a>
					<a class="fjiaju_l jiaju1-index-header-top-div-a" href="#">我的订单</a>
					<a class="fjiaju_l jiaju1-index-header-top-div-a" href="#">我的收藏</a>
				</div>
			</div>
			<!--导航-->
			<div class="jiaju1-index-header-nav">
				<ul class="jiaju1-index-header-nav-ul">
					<li class="fjiaju_l jiaju1-index-header-nav-li jiaju1-index-header-nav-li-bh">
						<a href="#">首页</a>
					</li>
					<li class="fjiaju_l jiaju1-index-header-nav-li">
						<a href="#">床垫</a>
					</li>
					<li class="fjiaju_l jiaju1-index-header-nav-li">
						<a href="#">沙发</a>
					</li>
					<li class="fjiaju_l jiaju1-index-header-nav-li">
						<a href="#">鞋柜</a>
					</li>
					<li class="fjiaju_l jiaju1-index-header-nav-li">
						<a href="#">衣柜</a>
					</li>
					<li class="fjiaju_l jiaju1-index-header-nav-li">
						<a href="#">电视柜</a>
					</li>
					<li class="fjiaju_l jiaju1-index-header-nav-li">
						<a href="#">餐桌</a>
					</li>
					<li class="fjiaju_l jiaju1-index-header-nav-li">
						<a href="#">餐椅</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
