<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/top-9.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.min.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="xiefu-index-header clearFix">
			<div class="xiefu-index-header-top">
				<div class="xiefu-index-header-top-content">
					<div class="fxiefu_l xiefu-index-header-top-content-left">
						<a class="xiefu-index-header-top-content-left-a1" href="#">注册</a>
						<i>|</i>
						<a class="xiefu-index-header-top-content-left-a2" href="#">登录</a>
					</div>
					<div class="fxiefu_r xiefu-index-header-top-content-right">
						<a class="xiefu-index-header-top-content-right-a1" href="#">在线留言</a>
						<i>|</i>
						<a class="" href="#">加入收藏</a>
						<i>|</i>
						<a class="" href="#">手机站</a>
					</div>
				</div>
			</div>
			<div class="xiefu-index-header-search">
				<img class="fxiefu_l xiefu-index-header-search-left" src="template/public/img/other/xiefu-index-1.png"></img>
				<div class="fxiefu_l xiefu-index-header-search-center">
					<input class="fxiefu_l xiefu-index-header-search-center-inp1" type="text" placeholder="请输入关键词例如：女装短裙" />
					<input class="fxiefu_r xiefu-index-header-search-center-inp2" type="button" />
				</div>
				<p class="fxiefu_r xiefu-index-header-search-right">我的购车<span>0</span>件商品</p>
			</div>
			<!--导航-->
			<div class="xiefu-index-header-nav clearFix">
				<ul class="xiefu-index-header-nav-ul">
					<li class="fxiefu_l xiefu-index-header-nav-li">
						<a href="#">首页</a>
					</li>
					<li class="fxiefu_l xiefu-index-header-nav-li">
						<a href="#">女装</a>
					</li>
					<li class="fxiefu_l xiefu-index-header-nav-li">
						<a href="#">男装</a>
					</li>
					<li class="fxiefu_l xiefu-index-header-nav-li">
						<a href="#">童装</a>
					</li>
					<li class="fxiefu_l xiefu-index-header-nav-li">
						<a href="#">女鞋</a>
					</li>
					<li class="fxiefu_l xiefu-index-header-nav-li">
						<a href="#">男鞋</a>
					</li>
					<li class="fxiefu_l xiefu-index-header-nav-li">
						<a href="#">童鞋</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
