<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="../../public/css/libraries/swiper.css">
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/x1-goodsList.css">
	<script src="../../public/js/libraries/jquery-1.12.4.js"></script>
	<script src="../../public/js/libraries/swiper.js"></script>
	<script type="text/javascript" src="../../public/js/x1-goodsList.js"></script>
	<script>
        /*$(function (){
            // 头部,中部,尾部模块加载
            var $title = $('title').prev();
            $('.header').load('../modules/html/header/y1-header.html',function () {
                $title.before('<script src="../public/js/y1-header.js">')
            });
            $('.main').load('../modules/html/goodsList/x1-goodsList.html',function () {
                $title.before('<script src="../public/js/x1-goodsList.js">')
            });
            $('.footer').load('../modules/html/footer/x1-footer.html');
        })*/
	</script>
	<title>列表页</title>
</head>
<body>
<!--当前位置-->
<div class="x1-Details-container clearFix">
    <ul class="x1-bcn-ul">
        <li class="x1-bcn-ul-li">
        	首页
        </li>
        <li class="x1-bcn-ul-li">
        	>
        </li>
        <li class="x1-bcn-ul-li">
        	全部分类
        </li>
        <li class="x1-bcn-ul-li">
        	>
        </li>
        <li class="x1-bcn-ul-li">
        	女装
        </li>
    </ul>
</div>
<!--当前位置结束-->
<!--商品分类-->
<div class="x1-goodsList-sort-box">
	<div class="x1-goodsList-sort clearFix">
		<div class="x1-goodsList-sort-title">
			品牌 :
		</div>
		<div class="x1-goodsList-sort-content clearFix">
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">尤麦</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">织羽集</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">梅子熟了</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">MASHYUN</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">安妮森林</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">Evcr Routc</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">尤麦</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">织羽集</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">梅子熟了</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">MASHYUN</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">安妮森林</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">Evcr Routc</a>
			</div>
		</div>
		<div class="x1-goodsList-sort-right clearFix" data-status='off'>
			更多<i class="icon-triangle-blank-1 x1-goodsList-sort-right-icon"></i>
		</div>
	</div>
	<div class="x1-goodsList-sort clearFix">
		<div class="x1-goodsList-sort-title">
			上装 :
		</div>
		<div class="x1-goodsList-sort-content clearFix">
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">T恤</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">针织衫</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">衬衫</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">短外套</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">小西装</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">卫衣</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">风衣</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">毛呢外套</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">雪纺衫</a>
			</div>
		</div>
		<div class="x1-goodsList-sort-right clearFix" data-status='off'>
			更多<i class="icon-triangle-blank-1 x1-goodsList-sort-right-icon"></i>
		</div>
	</div>
	<div class="x1-goodsList-sort clearFix">
		<div class="x1-goodsList-sort-title">
			下装 :
		</div>
		<div class="x1-goodsList-sort-content clearFix">
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">连体裤</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">牛仔裤</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">小脚裤</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">哈伦裤</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">高脚裤</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">阔腿裤</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">破洞裤</a>
			</div>
		</div>
		<div class="x1-goodsList-sort-right clearFix" data-status='off'>
			更多<i class="icon-triangle-blank-1 x1-goodsList-sort-right-icon"></i>
		</div>
	</div>
	<div class="x1-goodsList-sort clearFix">
		<div class="x1-goodsList-sort-title">
			裙装 :
		</div>
		<div class="x1-goodsList-sort-content clearFix">
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">半身裙</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">短袖连衣裙</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">长袖连衣裙</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">连衣裙</a>
			</div>
			<div class="x1-goodsList-sort-content-div">
				<a href="javascript:;">中长款半身裙</a>
			</div>
		</div>
		<div class="x1-goodsList-sort-right clearFix" data-status='off'>
			更多<i class="icon-triangle-blank-1 x1-goodsList-sort-right-icon"></i>
		</div>
	</div>
</div>
<!--商品分类结束-->
<!--商品筛选-->
<div class="x1-goodsList-screen">
	<div class="x1-goodsList-screen-title">
		排列方式 :
	</div>
	<div class="x1-goodsList-screen-content">
		<div class="x1-goodsList-btn x1-goodsList-btn-active">销量<i class="icon-down-white-1"></i></div>
		<div class="x1-goodsList-btn ">价格<i class="icon-down-orange-1"></i></div>
		<div class="x1-goodsList-btn ">最新<i class="icon-down-orange-1"></i></div>
	</div>
	<div class="x1-goodsList-screen-right">
		<div class="x1-goodsList-leftBtn">上一页</div>
		<div class="x1-goodsList-rightBtn">下一页</div>
	</div>
</div>
<!--商品筛选结束-->
<!--商品-->
<div class="x1-goodsList-shops-box clearFix">
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-2.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-3.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-4.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-5.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-6.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-7.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-2.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-3.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-4.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-5.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-6.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-7.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-2.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-3.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-4.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-5.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-6.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-7.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-2.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-3.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-4.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-5.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-6.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-7.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-2.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-3.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-4.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-5.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-6.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	<div class="x1-goodsList-shops">
		<img src="../../public/img/other/w1-personal-box1-7.png" class="x1-goodsList-shops-img" />
		<div class="x1-goodsList-shops-text">
			2018春装新款圆领长袖真丝印花 连衣裙修身大摆长裙高档女装 拷贝 2
		</div>
		<p class="x1-goodsList-shops-price">￥199.00</p>
	</div>
	
</div>

</body>
</html>