<!--找回密码-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/f1-login-main.css">
    <script src="../../public/js/libraries/jquery-1.12.4.js"></script>
    <script src="../../public/js/f1-login-main.js"></script>
    <title>找回密码-中</title>
</head>
<body>
    <div class="f1-login-container">
        <div class="f1-login-bg-box">
            <img class="f1-login-bg" src="../../public/img/other/f1-retrieve-Bg.jpg" alt="" />
            <div class="f1-login-cont f1-retrieve-cont">
                <h4 class="f1-login-cont-h4 f1-retrieve-cont-h4">找回密码</h4>
                <!-- <ul id="f1-login-tab" class="f1-login-nav">
                    <li class="f1-login-active" data-href="signupForm">密码登录</li>
                    <li data-href="signupForm2">手机动态登录</li>
                </ul> -->
                <form id="signupForm" class="f1-login-form f1-retrieve-form" action="">
                    <span class="f1-form-error">请输入正确邮箱号</span>
                    <div class="f1-login-input">
                        <input class="f1-login-input-public" name="phone" type="text" value="444617058@qq.com" maxlength="11">
                    </div>
                    <div class="f1-login-input">
                        <input class="f1-login-test f1-retrieve-test" type="text" placeholder="请输入邮箱验证码" maxlength="4">
                        <button class="f1-login-btn">获取邮箱验证</button>
                    </div>
                    <div class="f1-login-input">
                        <input class="f1-login-input-public" name="pass" type="password" placeholder="请输入6-16位字母和数字的组合密码" maxlength="16">
                       
                    </div>
                    <div class="f1-login-input">
                        <input class="f1-login-input-public" name="pass" type="password" placeholder="请再次输入密码" maxlength="16">
                       
                    </div>
                    <div class="f1-login-input f1-login-color clearFix">
                       <!-- <div id="f1-login-recall" class="f1-login-recall">
                            <i class="icon-checkbox-default-blank"></i>
                            记住密码
                        </div> -->
                        <div class="f1-login-other">
                            <!-- <span>
                                <a href="#">我要注册</a>
                            </span>
                                &nbsp;&nbsp;&nbsp; -->
                            <span>
                                <a href="#">返回登录</a>
                            </span>
                        </div>
                    </div>
                </form>
                <a class="f1-login-href f1-retrieve-btn">确认并提交</a>
            </div>
        </div>
    </div>
</body>
</html>