.fjiaju_l{
	float: left;
}
.fjiaju_r{
	float: right;
}
.jiaju1-index-footer{
	height: 310px;
	background: #21262c;
}
.jiaju1-index-footer-content-top{
	padding-top: 40px;
}
.jiaju1-index-footer-content-top,.jiaju1-index-footer-content-bot{
	width: 1200px;
	margin: 0 auto;
}
.jiaju1-index-footer-content-top-ul{
	width: 100px;
	margin-right: 266px;
}
.jiaju1-index-footer-content-top-ul:last-child{
	margin-right: 0;
}
.jiaju1-index-footer-content-top-ul a,.jiaju1-index-footer-content-bot-p{
	font-size: 12px;
	color: #999999;
}
.jiaju1-index-footer-content-top-ul li:first-child a{
	font-size: 16px;
}
.jiaju1-index-footer-content-top-ul li:first-child:hover a{
	color: #ffc215;
}
.jiaju1-index-footer-content-top-ul li{
	margin-top: 6px;
}
.jiaju1-index-footer-content-bot{
	text-align: center;
	margin-top: 45px;
}
.jiaju1-index-footer-content-bot-p1{
	margin-top: 10px;
}
.jiaju1-index-footer-content-bot-p1 img{
	width: 33px;
	height: 21px;
	margin-right: 14px;
}
.jiaju1-index-footer-content-top-ul .jiaju1-index-footer-content-top-li-a{
	color: #ffc215;
}
.jiaju1-index-footer-content-top-ul:last-child li:nth-child(2) a{
	padding-left: 27px;
	background: url(../img/other/jiaju-index-20.png) no-repeat center left;
}
.jiaju1-index-footer-content-top-ul:last-child li:nth-child(3) a{
	padding-left: 27px;
	background: url(../img/other/jiaju-index-21.png) no-repeat center left;
}
.jiaju1-index-footer-content-top-ul:last-child li:nth-child(4) a{
	padding-left: 27px;
	background: url(../img/other/jiaju-index-22.png) no-repeat center left;
}

