.g1f_l{
	float: left;
}
.g1f_r{
	float: right;
}
.g1-index14-Footer{
	width: 100%;
	height: 100px;
	background: #3F4657;
	margin-top: 30px;
}
.g1-index14-Footer-content{
	width: 1200px;
	margin: 0 auto;
	line-height: 100px;
}
.g1-index14-Footer-content-p,.g1-index14-Footer-content-li{
	font-size: 14px;
	color: #FFFFFF;
}
.g1-index14-Footer-content-li{
	margin: 0 8px;
}
.g1-index14-Footer-content-ul{
	margin-left: 89px;
}










