/*header nav*/
.y2-header-nav {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.y2-header-nav .y2-header-nav-ul {
    list-style: none;
    overflow: hidden;
    float: right;
}
.y2-header-nav .y2-header-nav-ul-li {
    font-size: 12px;
    color: #666666;
    float: left;
    margin-left: 20px;
}
.y2-header-nav .y2-header-nav-ul-li:hover {
    cursor: pointer;
    color: #aaaaaa;
}
.y2-header-nav .y2-header-nav-ul-span {
    padding: 0 3px 0 3px;
}
.y2-hedaer-mainnav-ul-li a {
    color: #000000;
}
/*logo modules*/
.y2-header-logo {
    width: 252px;
    height: 56px;
    margin: 0 auto;
}
/*container css*/
.y2-header-container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /*margin-top: 30px;*/
    /*padding-bottom: 20px;*/
}
/*mainnav modules*/
.y2-hedaer-mainnav-ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
}
.y2-hedaer-mainnav-ul>:first-child {
    margin: 0;
}
.y2-hedaer-mainnav-ul-li {
    float: left;
    margin-left: 40px;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
}
.y2-hedaer-mainnav-ul-li-active {
    color: #f13a3a;
}
/*search*/
.y2-header-search {
    width: 300px;
    overflow: hidden;
    float: right;
    border-bottom: 1px solid #666666;
    padding-bottom: 4px;
    position: relative;
    cursor: text;
}
.y2-header-search .y2-search-box1,.y2-search-box2 {
    border: 1px solid #e0e0e0;
    display: inline-block;
    font-size: 14px;
    color: #666666;
    background: #f5f5f5;
    padding: 3px 8px 2px 8px;
}
.y2-header-search .y2-search-box2 {
    margin-left: 10px;
}
.y2-header-search .y2-search-box {
    float: left;
    z-index: 3;
    white-space: nowrap;
}
.y2-header-search .y2-search-ss {
    float: right;
}
.y2-search-ss {
	background-color: #FFCDDA;
}
.y2-header-search .y2-search-inp {
    width: 278px;
    border: none;
    outline: none;
    z-index: 9;
}
.y2-header-search .y2-search-text {
    position: absolute;
    top: 2px;
    z-index: 9;
    display: none;
}
@media (max-width: 768px) {
    .y2-header-nav {
        display: none;
    }
    .y2-header-logo {
        margin-top: 38px;
    }
    .y2-header-search {
        float: none;
        margin: 0 auto;
        margin-top: 38px;
    }
    .y2-hedaer-mainnav-ul {
        margin: 0 auto;
        float: none;
        display: block;
        padding-left: 40px;
        max-height: 18px;
    }
    .y2-hedaer-mainnav-ul-li {
        margin-left: 20px;
    }
}

/**
 * revise: 20180712
 * modules: 头部样式
 * describe: 修改右边搜索和左侧分类上下间距问题（与原图间距不符）
 */
.y2-hedaer-mainnav-ul{
    margin-top: 10px;
}
.y2-header-container{
    padding-bottom: 15px;
    margin-top: 20px;
}

/**
 * revise: 20180718
 * modules: 头部样式
 * describe: 修改右边搜索和左侧分类上下间距问题（与原图间距不符）
 */
.y2-header-nav{
    margin: 20px auto 8px;
}