.x3-footer-box{
	width: 100%;
	background: #000000;
}
.x3-footer-content{
	width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
}
.x3-footer-div{
	width: 230px;
	height: 170px;
	padding-left: 15px;
	margin-left: 55px;
	border-right: 1px solid #FFFFFF;
	float: left;
}

.x3-footer-div-a{
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
}
.x3-footer-marno{
	margin: 0;
}
.x3-footer-div-erm{
	width: 400px;
	float: left;
	text-align: center;
}
.x3-ewm-p{
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 20px;
}
.x3-footer-hr{
	width: 100%;
	border-top: 1px dashed #FFFFFF;
	margin-top: 30px;
}
.x3-foooter-bottom{
	margin-top: 10px;
	padding: 0 10px 20px 10px;
}
.x3-footer-p{
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
}
@media (max-width: 768px) {
	.x3-footer-content{
		width: 95%;
		margin: 0 auto;
		padding-top: 30px;
	}
	.x3-footer-none{
		display: none;
	}
	.x3-footer-div{
		display: none;
		/*padding-left: 15px;
		margin: 20px auto;
		border-right: 1px solid #000000;
		float: none;
		text-align: center;*/
	}
	.x3-footer-div-erm{
		width: 95%;
		margin: 0 auto;
		float: none;
	}
}

/**
 * revise: 20180712
 * modules: 底部样式
 * describe: 修改二维码间距与原图不符
 */
.x3-footer-ewm{
	margin-top: 26px;
}