<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="indexf/public/css/base.css">
	<link rel="stylesheet" href="indexf/public/css/libraries/swiper.css">
	<link rel="stylesheet" href="indexf/public/css/y1-shoppingcar.css">
    <script src="indexf/public/js/libraries/jquery-1.12.4.js"></script>
    <script src="indexf/public/js/y1-shoppingcar.js"></script>
    <script src="indexf/public/js/libraries/swiper.js"></script>
    <title>购物车-中</title>
</head>
<body>
    <!--替换头部导航栏的line-->
    <hr class="y1-shopping-line">
    <!--title modules-->
    <div class="y1-shoppingcar-container">
        <div class="y1-shoppingcar-title">
            <p class="y1-shoppingcar-title-p1">我的购物车</p>
            <p class="y1-shoppingcar-title-p2">My shopping cart</p>
        </div>
    </div>
    <!--shopping- 无数据 modules-->
    <div class="y1-shoppingcar-container y1-shoppingcar-show">
        <ul class="y1-shopping-ul">
            <li class="y1-shopping-ul-li">
                <input type="checkbox" class="y1-shopping-ul-li-inp1" id="y1-shop-inp1">
                <label for="y1-shop-inp1"></label>
                &nbsp;全选
                <input type="checkbox" class="y1-shopping-ul-li-inp1" id="y1-shop-inp2">
                <label for="y1-shop-inp2"></label>
                &nbsp;反选
                <span class="y1-shopping-ul-li-sp1">商品</span>
                <span class="y1-shopping-ul-li-sp2">单价</span>
                <span class="y1-shopping-ul-li-sp3">数量</span>
                <span class="y1-shopping-ul-li-sp4">总价</span>
                <span class="y1-shopping-ul-li-sp5">操作</span>
            </li>
            <li class="y1-shopping-ul-li">
                <div class="y1-shopping-ul-li-box1">
                    <input type="checkbox" class="y1-inp-all" id="y1-shop-inp3">
                    <label for="y1-shop-inp3"></label>
                    <img src="indexf/public/img/other/y1-shopping-img1.jpg" class="y1-shopping-ul-li-box1-img1" alt="">
                </div>
                <div class="y1-shopping-ul-li-box2">
                    <p class="y1-shopping-ul-li-box2-p1">
                        2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装
                    </p>
                    <p class="y1-shopping-ul-li-box2-p2">
                        颜色：水洗白   尺码：28英寸
                    </p>
                </div>

                <span class="y1-shopping-ul-li2-sp1"><span class="f1-shopping-sum-symbol">&yen;</span>298.00</span>
                <div class="y1-shopping-ul-li2-div2">
                    <div class="y1-shopping-ul-li2-div2-box1">-</div>
                    <input type="text" class="y1-shopping-ul-li2-div2-inp1" value="1">
                    <div class="y1-shopping-ul-li2-div2-box2">+</div>
                </div>
                <span class="y1-shopping-ul-li2-sp3"><span class="f1-shopping-sum-symbol">&yen;</span>298.00</span>
                <span class="y1-shopping-ul-li2-sp4">
                    <div class="y1-shopping-ul-li2-sp4-p1">删除</div>
                    <div class="y1-shopping-ul-li2-sp4-p2">移入收藏夹</div>
                </span>
            </li>
            <li class="y1-shopping-ul-li">
                <div class="y1-shopping-ul-li-box1">
                    <input type="checkbox" class="y1-shopping-ul-li-box1-inp1" id="y1-shop-inp4">
                    <label for="y1-shop-inp4" class="y1-inp-all"></label>
                    <img src="indexf/public/img/other/y1-shopping-img1.jpg" class="y1-shopping-ul-li-box1-img1" alt="">
                </div>
                <div class="y1-shopping-ul-li-box2">
                    <p class="y1-shopping-ul-li-box2-p1">
                        2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装
                    </p>
                    <p class="y1-shopping-ul-li-box2-p2">
                        颜色：水洗白   尺码：28英寸
                    </p>
                </div>
                <span class="y1-shopping-ul-li2-sp1"><span class="f1-shopping-sum-symbol">&yen;</span>298.00</span>
                <div class="y1-shopping-ul-li2-div2">
                    <div class="y1-shopping-ul-li2-div2-box1">-</div>
                    <input type="text" class="y1-shopping-ul-li2-div2-inp1" value="1">
                    <div class="y1-shopping-ul-li2-div2-box2">+</div>
                </div>
                <span class="y1-shopping-ul-li2-sp3"><span class="f1-shopping-sum-symbol">&yen;</span>298.00</span>
                <span class="y1-shopping-ul-li2-sp4">
                    <p class="y1-shopping-ul-li2-sp4-p1">删除</p>
                    <p class="y1-shopping-ul-li2-sp4-p2">移入收藏夹</p>
                </span>
            </li>
            <li class="y1-shopping-ul-li">
                <div class="y1-shopping-ul-li-box1">
                    <input type="checkbox" class="y1-shopping-ul-li-box1-inp1" id="y1-shop-inp5">
                    <label for="y1-shop-inp5" class="y1-inp-all"></label>
                    <img src="indexf/public/img/other/y1-shopping-img1.jpg" class="y1-shopping-ul-li-box1-img1" alt="">
                </div>
                <div class="y1-shopping-ul-li-box2">
                    <p class="y1-shopping-ul-li-box2-p1">
                        2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装
                    </p>
                    <p class="y1-shopping-ul-li-box2-p2">
                        颜色：水洗白   尺码：28英寸
                    </p>
                </div>
                <span class="y1-shopping-ul-li2-sp1"><span class="f1-shopping-sum-symbol">&yen;</span>298.00</span>
                <div class="y1-shopping-ul-li2-div2">
                    <div class="y1-shopping-ul-li2-div2-box1">-</div>
                    <input type="text" class="y1-shopping-ul-li2-div2-inp1" value="1">
                    <div class="y1-shopping-ul-li2-div2-box2">+</div>
                </div>
                <span class="y1-shopping-ul-li2-sp3"><span class="f1-shopping-sum-symbol">&yen;</span>298.00</span>
                <span class="y1-shopping-ul-li2-sp4">
                    <p class="y1-shopping-ul-li2-sp4-p1">删除</p>
                    <p class="y1-shopping-ul-li2-sp4-p2">移入收藏夹</p>
                </span>
            </li>
        </ul>
        <ul class="y1-shopping-ul2">
            <li class="y1-shopping-ul2-li">
                <span class="y1-shopping-ul2-li-sp1">已失效商品</span>
                <li class="y1-shopping-ul2-li-li">
                    <div class="y1-shopping-ul-li-box1">
                        <img src="indexf/public/img/other/y1-shopping-img1.jpg" class="y1-shopping-ul-li-box1-img1" alt="">
                    </div>
                    <div class="y1-shopping-ul-li-box2">
                        <p class="y1-shopping-ul-li-box2-p1">
                            2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装
                        </p>
                        <p class="y1-shopping-ul-li-box2-p2">
                            颜色：水洗白   尺码：28英寸
                        </p>
                    </div>
                    <span class="y1-shopping-ul-li2-sp1"><span class="f1-shopping-sum-symbol">&yen;</span>298.00</span>
                    <div class="y1-shopping-ul-li2-div2">
                        <div class="y1-shopping-ul-li2-div2-box1">-</div>
                        <input type="text" class="y1-shopping-ul-li2-div2-inp1" value="1">
                        <div class="y1-shopping-ul-li2-div2-box2">+</div>
                    </div>
                    <span class="y1-shopping-ul-li2-sp3"><span class="f1-shopping-sum-symbol">&yen;</span>298.00</span>
                    <span class="y1-shopping-ul-li2-sp4">
                        <p class="y1-shopping-ul2-li2-sp4-p1">删除</p>
                    </span>
                </li>
            </li>
        </ul>
        <div class="y1-shopping-jiesuan">
            <div class="y1-jiesuan-allchex">
                <input type="checkbox" id="y1-shop-inp-1">
                <label for="y1-shop-inp-1"></label>&nbsp;全选
            </div>

            <div class="y1-shopping-jiesuan-sp1">删除选中的商品</div>
            <div class="y1-shopping-jiesuan-sp1">移入收藏夹</div>
            <div class="y1-shopping-jiesuan-sp1">清空购物车</div>
            <button class="y1-shopping-jiesuan-btn">结算</button>
            <div class="y1-shopping-jiesuan-sp2">应付总金额(不含运费)：<span class="y1-shopping-jiesuan-sp2-sp"><span class="f1-shopping-sum-symbol">&yen;</span>289.00</span> </div>
        </div>
    </div>
    <!--shopping- 有数据 modules-->
    <div class="y1-shoppingcar-container y1-shoppingcar-hide">
        <div class="y1-shopping2-box">
            <img src="indexf/public/img/other/y1-shopping-gwc2.jpg" class="y1-shopping2-gwc-img" alt="">
            <div class="y1-shopping2-box-box1">
                <p class="y1-shopping2-box-p1">
                    购物车空空的哦~，去看看心仪的商品吧~
                </p>
                <a class="y1-shopping2-box-sp1" href="#">去购物>></a>
            </div>

        </div>
    </div>
    <!--shopping title2 modules-->
    <p class="y1-shopping-title">
        最近浏览
    </p>
    <!--shopping banner modules-->
    <div class="y1-shoppingcar-container">
        <div class="swiper-container y1-shopping-banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img class="f1-shopping-hot-img" src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00 
                            </p>
                        </a>
                    </div>
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                    <div class="y1-swiper-box">
                        <a href="#">
                            <img src="indexf/public/img/other/y1-shopping-banner1.jpg" alt="">
                            <div class="y1-swiper-slide-p1">
                                2018春装新款收腰长裙韩版气质显瘦圆领春秋长款大摆裙
                            </div>
                            <p class="y1-swiper-slide-p3">
                                <span class="f1-shopping-sum-symbol">&yen;</span>298.00
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination y1-shopping-pagi"></div>
        </div>
    </div>
</body>
</html>





