
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
    <link rel="stylesheet" href="/static/qlsc1.0/public/css/base.css">
    <link rel="stylesheet" href="/static/qlsc1.0/public/css/g1-paySuccess.css">
    <link rel="stylesheet" href="/static/qlsc1.0/public/css/x1-personalCenter.css">
    <link rel="stylesheet" href="/static/qlsc1.0/public/css/libraries/swiper.css">
    <script src="/static/qlsc1.0/public/js/libraries/jquery-1.12.4.js"></script>
    <script src="/static/qlsc1.0/public/js/libraries/swiper.js"></script>
    <script src="/static/qlsc1.0/public/js/g1-paySuccess.js"></script>
    <script src="/static/common/layer/layer.js"></script>
    <title>评论</title>
</head>
<body>
<jsp:include page="${homePage.headUrl}" />
<div class="y1-personal-container clearFix">
    <!--侧边栏-->
    <div class="y1-personal-column">
        <img src="${dfsimg }${user.picImg}"  onerror="src='/static/qlsc1.1/public/img/other/head_default.jpg'" class="y1-personal-column-img1" alt="" width="168px" height="168px">
        <p class="y1-personal-column-p1">${user.userName}</p>
        <ul id="f1-userCenter-left-hover">
            <li class="y1-personal-column-ul-li y1-personal-column-ul-li-active"data-number="1">
                <a href="${ctx}/uc/order/list/0" style="color: #f13a3a">我的订单</a>
            </li>
            <li class="y1-personal-column-ul-li" data-number="2">售后管理</li>
            <li class="y1-personal-column-ul-li" data-number="3"><a href="${ctx }/uc/user/details">个人资料</a></li>
            <li class="y1-personal-column-ul-li" data-number="5"><a href="${ctx }/uc/user/insert">收货地址</a></li>
            <li class="y1-personal-column-ul-li" data-number="6"><a href="${ctx }/product/getCollectionProduct/${urlId}">我的收藏</a></li>
        </ul>
    </div>
    <!-- 右侧内容 -->
    <div class="g1-paySuccess-comment-container-content g1fl">
        <div class="g1-paySuccess-setAddress-container-content-nav">
            <a class="g1-paySuccess-setAddress-container-content-nav-a" href="/uc/order/list/0">返回</a>
        </div>
        <div class="pj_big">
            <form action="/comment/add"  method="post" id="form" enctype="multipart/form-data" >
                <input type="hidden" name="orderNumber" value="${orderVO. orderNumber}"/>
                <c:forEach items="${orderVO.orderProducts}" var="product"  varStatus="status">
                    <div class="g1-paySuccess-comment-container-content-left g1fl">
                        <img src="${dfsimg }${product.picImg}" alt=""  onerror="src='/static/defaultImage/default_product.jpg'" />
                        <p class="biaoTi">${product.name }</p>
                        <p class="price">￥${product.price }</p>
                        <p class="text">
                            ${product.productSpecName }
                        </p>
                        <input type="hidden" name="comment[${ status.index}].productId" value="${product.productNumber}"/>
                        <input type="hidden" name="comment[${ status.index}].specName" value="${product.productSpecName}"/>
                    </div>
                    <div class="g1-paySuccess-comment-container-content-right g1fl">
                        <div class="g1-paySuccess-comment-container-content-right-PF">
                            <span class="ziTi1">商品评分</span>
                            <div class="xx">
                                <input type="hidden" class="star" name="comment[${ status.index}].star" value=""/>
                                <div class="target-demo" id="star${ status.index}" data-id="0" style="width:150px!important;"></div>
                            </div>
                            <!-- <img class="g1-paySuccess-comment-container-content-right-xing" src="/static/qlsc1.0/public/img/other/g1-comment2.png" alt="" />
                            <img class="g1-paySuccess-comment-container-content-right-xing" src="/static/qlsc1.0/public/img/other/g1-comment2.png" alt="" />
                            <img class="g1-paySuccess-comment-container-content-right-xing" src="/static/qlsc1.0/public/img/other/g1-comment2.png" alt="" />
                            <img class="g1-paySuccess-comment-container-content-right-xing" src="/static/qlsc1.0/public/img/other/g1-comment2.png" alt="" />
                            <img class="g1-paySuccess-comment-container-content-right-xing" src="/static/qlsc1.0/public/img/other/g1-comment2.png" alt="" /> -->
                        </div>
                        <div class="g1-paySuccess-comment-container-content-right-NR">
                            <div class="g1fl wenZiKuang">
                                <span class="ziTi1 g1fl">评价内容</span>
                                <textarea id="note${ status.index}" class="wenZi" name="comment[${ status.index}].content" rows="" cols="" maxlength="200" onkeyup="this.value=this.value.substring(0, 200)"></textarea>
                                <p class="ziShu"><span class="text-count2" value="">0</span>/130</p>
                            </div>
                            <!--清浮动-->
                            <div class="g1-claer"></div>
                            <!--结束-->
                            <div class="tuPian g1fl">
                                <div class="tianJia">
                                    <img src="/static/qlsc1.0/public/img/other/g1-comment5.png" alt="" />
                                    <p>添加评论图片<br>(图片最大2M)</p>
                                    <input id="shangChuan" class="comment" name="comment[${ status.index}].files" type="file" value="本地上传" accept="image/*"/>
                                </div>

                            </div>
                            <div class="tuPian g1fl">
                                <div class="tianJia">
                                    <img src="/static/qlsc1.0/public/img/other/g1-comment5.png" alt="" />
                                    <p>添加评论图片<br>(图片最大2M)</p>
                                    <input id="shangChuan" class="comment" name="comment[${ status.index}].files" type="file" value="本地上传" accept="image/*"/>
                                </div>

                            </div>
                            <div class="tuPian g1fl">
                                <div class="tianJia">
                                    <img src="/static/qlsc1.0/public/img/other/g1-comment5.png" alt="" />
                                    <p>添加评论图片<br>(图片最大2M)</p>
                                    <input id="shangChuan" class="comment" name="comment[${ status.index}].files" type="file" value="本地上传" accept="image/*"/>
                                </div>

                            </div>

                        </div>
                        <!--清浮动-->
                        <div class="g1-claer"></div>
                        <!--结束-->
                    </div>
                </c:forEach>
                <c:if test="${orderVO.orderProducts.size() > 0 }">
                    <input class="g1-paySuccess-comment-tiJiao" type="button" value="提交"/>
                </c:if>
                <c:if test="${orderVO.orderProducts.size() == 0 }"><div align="center">商品已下架，不可评价</div></c:if>
            </form>
        </div>
    </div>
</div>
<!--大图查看-->
<div id="g1-paySuccess-comment-container-daTuK" class="g1-paySuccess-comment-container-daTuK">
    <img id="g1-paySuccess-comment-container-GB" class="g1-paySuccess-comment-container-GB" src="/static/qlsc1.0/public/img/other/g1-comment6.png"/>
    <img class="g1-paySuccess-comment-container-daTuInner" src="" alt="" />
</div>
<div id="spanFoot">
    <jsp:include page="${homePage.footUrl }" />
</div>
</body>
<script type="text/javascript">
    //字数限制
    window.onload = function() {
        //（jquery）
        $('.wenZi').keyup(function() {
            //    var val=$('#note2').val();
            //    var len=val.length;
            var len=this.value.length
            if(len >= 130){
                $(this).val(this.value.substring(0,130));
            }
            $(this).parent().find('.text-count2').text(len);

        })
    }
</script>
<script src="${ctxsta}/common/jquery/jquery.raty.min.js" ></script>
<script type="text/javascript">

    $(".g1-paySuccess-comment-tiJiao").click(function(){
        sub = true;
        /* $(".picData").each(function(){
            var data = "";
            $(this).siblings(".g1-Img-bao").each(function(){
                data = data + $(this).find("textarea").text() + "@";
              });
            $(this).val(data);
        }); */
        $(".star").each(function(){
            if($(this).val() == ''){
                layer.msg("有商品未评价星级");
                sub = false;
            }
        });
        if(sub){
            /* layer.load(1, {
                  shade: [0.5,'#000'] //0.1透明度的白色背景
                }); */
            layer.msg('图片上传中...请勿刷新页面！', {icon: 16,shade: [0.5,'#000']});
            $("#form").submit();
        }
    });

    $(function() {
        $.fn.raty.defaults.path = '${ctxsta}/common/jquery/img';
        var list = $('.pj_big .target-demo');
        $.each(list,function(i,v){
            console.log(v.id);
            $('#'+v.id).raty({
                click:function(score, evt) {
                    console.log($(this).attr('data-id'));
                    $(this).prev('input').val(score);
                }
            });
            $('input[name=score]').remove();
        })
    });


</script>

</html>