<!--我的收藏-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/x1-personalCenter.css">
	<script src="../../public/js/libraries/jquery-1.12.4.js"></script>
	<script src="../../public/js/x1-personalCenter.js"></script>
    <title>个人中心-我的收藏-中</title>
</head>
	<body>
		<div class="y1-personal-container clearFix">
				<div class="y1-personal-column">
		            <img src="../../public/img/other/y1-personal-img1.jpg" class="y1-personal-column-img1" alt="">
		            <p class="y1-personal-column-p1">185***3062</p>
		            <ul id="f1-userCenter-left-hover">
		                <li class="y1-personal-column-ul-li " data-number="1">
		                    我的订单
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="2">
		                    退款管理
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="3">
		                    个人资料
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="4">
		                    修改登录密码
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="5">
		                    收货地址
		                </li>
		                <li class="y1-personal-column-ul-li y1-personal-column-ul-li-active" data-number="6">
		                    我的收藏
		                </li>
		            </ul>
	       		</div>
	        	<div class="y1-personal-Myoder">
            <!--导航栏-->
		            <div class="y1-personal-Myoder-nav">
		                <ul class="y1-personal-Myoder-nav-ul">
		                    <li class="y1-personal-Myoder-nav-ul-li y1-personal-Myoder-nav-ul-li-active">我的收藏</li>
		                </ul>        
		            </div>
		            <div class="w1-personal-content1">
		            	<div class="w1-personal-box1">
							<img src="../../public/img/other/y1-personal-img1.jpg" class="w1-personal-box1-goods" />
							<div class="w1-personal-box1-p">
								2018春季新款女装欧美大牌喇叭袖</br> 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="w1-personal-box1-p2">￥128.00</p>
							<div class="w1-personal-box1-delete">
								<img src="../../public/img/icon/delete-black-1.png" class="w1-personal-box1-delete-img"/>
							</div>
							<div class="w1-personal-box1-btn">
								<p class="w1-personal-box1-btn-p">确定要删除此商品?</p>
								<button class="w1-personal-box1-btn-sure">确定</button><button class="w1-personal-box1-btn-cancel">取消</button>
							</div>
						</div>
						<div class="w1-personal-box1">
							<img src="../../public/img/other/w1-personal-box1-2.png" class="w1-personal-box1-goods"  />
							<div class="w1-personal-box1-p">
								2018春季新款女装欧美大牌喇叭袖</br> 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="w1-personal-box1-p2">￥128.00</p>
							<div class="w1-personal-box1-delete">
								<img src="../../public/img/icon/delete-black-1.png" class="w1-personal-box1-delete-img"/>
							</div>
							<div class="w1-personal-box1-btn">
								<p class="w1-personal-box1-btn-p">确定要删除此商品?</p>
								<button class="w1-personal-box1-btn-sure">确定</button><button class="w1-personal-box1-btn-cancel">取消</button>
							</div>
						</div>
						<div class="w1-personal-box1">
							<img src="../../public/img/other/w1-personal-box1-3.png" class="w1-personal-box1-goods"  />
							<div class="w1-personal-box1-p">
								2018春季新款女装欧美大牌喇叭袖</br> 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="w1-personal-box1-p2">￥128.00</p>
							<div class="w1-personal-box1-delete">
								<img src="../../public/img/icon/delete-black-1.png" class="w1-personal-box1-delete-img"/>
							</div>
							<div class="w1-personal-box1-btn">
								<p class="w1-personal-box1-btn-p">确定要删除此商品?</p>
								<button class="w1-personal-box1-btn-sure">确定</button><button class="w1-personal-box1-btn-cancel">取消</button>
							</div>
						</div>
						<div class="w1-personal-box1">
							<img src="../../public/img/other/w1-personal-box1-4.png" class="w1-personal-box1-goods"  />
							<div class="w1-personal-box1-p">
								2018春季新款女装欧美大牌喇叭袖</br> 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="w1-personal-box1-p2">￥128.00</p>
							<div class="w1-personal-box1-delete">
								<img src="../../public/img/icon/delete-black-1.png" class="w1-personal-box1-delete-img"/>
							</div>
							<div class="w1-personal-box1-btn">
								<p class="w1-personal-box1-btn-p">确定要删除此商品?</p>
								<button class="w1-personal-box1-btn-sure">确定</button><button class="w1-personal-box1-btn-cancel">取消</button>
							</div>
						</div>
		           
		            
		            	<div class="w1-personal-box1">
							<img src="../../public/img/other/w1-personal-box1-5.png" class="w1-personal-box1-goods"  />
							<div class="w1-personal-box1-p">
								2018春季新款女装欧美大牌喇叭袖</br> 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="w1-personal-box1-p2">￥128.00</p>
							<div class="w1-personal-box1-delete">
								<img src="../../public/img/icon/delete-black-1.png" class="w1-personal-box1-delete-img"/>
							</div>
							<div class="w1-personal-box1-btn">
								<p class="w1-personal-box1-btn-p">确定要删除此商品?</p>
								<button class="w1-personal-box1-btn-sure">确定</button><button class="w1-personal-box1-btn-cancel">取消</button>
							</div>
						</div>
						<div class="w1-personal-box1">
							<img src="../../public/img/other/w1-personal-box1-6.png"class="w1-personal-box1-goods" />
							<div class="w1-personal-box1-p">
								2018春季新款女装欧美大牌喇叭袖</br> 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="w1-personal-box1-p2">￥128.00</p>
							<div class="w1-personal-box1-delete">
								<img src="../../public/img/icon/delete-black-1.png" class="w1-personal-box1-delete-img"/>
							</div>
							<div class="w1-personal-box1-btn">
								<p class="w1-personal-box1-btn-p">确定要删除此商品?</p>
								<button class="w1-personal-box1-btn-sure">确定</button><button class="w1-personal-box1-btn-cancel">取消</button>
							</div>
						</div>
						<div class="w1-personal-box1">
							<img src="../../public/img/other/w1-personal-box1-7.png" class="w1-personal-box1-goods" />
							<div class="w1-personal-box1-p">
								2018春季新款女装欧美大牌喇叭袖</br> 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="w1-personal-box1-p2">￥128.00</p>
							<div class="w1-personal-box1-delete">
								<img src="../../public/img/icon/delete-black-1.png" class="w1-personal-box1-delete-img"/>
							</div>
							<div class="w1-personal-box1-btn">
								<p class="w1-personal-box1-btn-p">确定要删除此商品?</p>
								<button class="w1-personal-box1-btn-sure">确定</button><button class="w1-personal-box1-btn-cancel">取消</button>
							</div>
						</div>
						<div class="w1-personal-box1">
							<img src="../../public/img/other/y1-personal-img1.jpg" class="w1-personal-box1-goods"  />
							<div class="w1-personal-box1-p3">
								2018春季新款女装欧美大牌喇叭袖</br> 衬衫袖拼接花朵刺绣连衣裙假两件 拷贝
							</div>
							<p class="w1-personal-box1-p4">本商品已下架</p>
							<div class="w1-personal-box1-delete">
								<img src="../../public/img/icon/delete-black-1.png" class="w1-personal-box1-delete-img"/>
							</div>
							<div class="w1-personal-box1-btn">
								<p class="w1-personal-box1-btn-p">确定要删除此商品?</p>
								<button class="w1-personal-box1-btn-sure">确定</button><button class="w1-personal-box1-btn-cancel">取消</button>
							</div>
						</div>
		      </div>
      			</div>
		</div>
	</body>
</html>
