<!--待发货-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/x1-personalCenter.css">
	<script src="../../public/js/libraries/jquery-1.12.4.js"></script>
    <script src="../../public/js/x1-personalCenter.js"></script>
    <title>个人中心-我的订单-待发货-中</title>
</head>
<body>
    <div class="y1-personal-container clearFix">
        <!--侧边栏-->
        <div class="y1-personal-column">
            <img src="../../public/img/other/y1-personal-img1.jpg" class="y1-personal-column-img1" alt="">
            <p class="y1-personal-column-p1">185***3062</p>
            <ul id="f1-userCenter-left-hover">
                <li class="y1-personal-column-ul-li y1-personal-column-ul-li-active" data-number="1">
                    我的订单
                </li>
                <li class="y1-personal-column-ul-li" data-number="2">
                    退款管理
                </li>
                <li class="y1-personal-column-ul-li" data-number="3">
                    个人资料
                </li>
                <li class="y1-personal-column-ul-li" data-number="4">
                    修改登录密码
                </li>
                <li class="y1-personal-column-ul-li" data-number="5">
                    收货地址
                </li>
                <li class="y1-personal-column-ul-li" data-number="6">
                    我的收藏
                </li>
            </ul>
        </div>
        <!-- 右侧内容 -->
        <div class="y1-personal-Myoder">
            <!--导航栏-->
            <div class="y1-personal-Myoder-nav">
                <ul class="y1-personal-Myoder-nav-ul">
                    <li class="y1-personal-Myoder-nav-ul-li">全部订单</li>
                    <li class="y1-personal-Myoder-nav-ul-li">代付款 <span class="y1-p-M-n-u-sp">2</span></li>
                    <li class="y1-personal-Myoder-nav-ul-li y1-personal-Myoder-nav-ul-li-active">待发货 <span class="y1-p-M-n-u-sp">2</span></li>
                    <li class="y1-personal-Myoder-nav-ul-li">待收货 <span class="y1-p-M-n-u-sp">1</span></li>
                    <li class="y1-personal-Myoder-nav-ul-li">待评价 <span class="y1-p-M-n-u-sp">1</span></li>
                </ul>
                <div class="y1-personal-Myoder-nav-search">
                    <input type="text" class="y1-personal-Myoder-nav-search-inp">
                    <button class="y1-personal-Myoder-nav-search-btn">搜索订单</button>
                </div>
            </div>
            <!--菜单栏-->
            <div class="y1-personal-menu">
                <span class="y1-personal-menu-shangpin">商品</span>
                <span class="y1-personal-menu-danjia">单价</span>
                <span class="y1-personal-menu-shuliang">数量</span>
                <span class="y1-personal-menu-caozuo">商品操作</span>
                <span class="y1-personal-menu-shifukuan">实付款</span>
                <span class="y1-personal-menu-zhuangtai">订单状态</span>
                <span class="y1-personal-menu-jiaoyicaozuo">交易操作</span>
            </div>
            <!--内容-->
            <!--立即付款-->
            <div class="y1-personal-content1">
                <div class="y1-personal-content1-top">
                    <div class="y1-personal-content1-date">
                        2018-05-24
                        <span class="y1-personal-content1-date-hours">09:21:54</span>
                    </div>
                    <div class="y1-personal-content1-oder">
                        订单号 ：14578524584
                    </div>
                </div>
                <div class="y1-personal-content1-left">
                    <div class="y1-personal-content1-left-box1">
                        <img src="../../public/img/other/y1-personal-content1-img1.jpg" class="y1-left-box1-img1" alt="">
                        <div class="y1-left-box1-text">
                            <p class="y1-left-box1-text-p">2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装</p>
                            <span class="y1-left-box1-text-sp">颜色：水洗白</span>
                            <span class="y1-left-box1-text-sp">尺码：28英寸</span>
                        </div>
                        <div class="y1-left-box1-danjia">
                            ￥289.00
                        </div>
                        <div class="y1-left-box1-shuliang">
                            1
                        </div>
                    </div>
                    <div class="y1-personal-content1-left-box1">
                        <img src="../../public/img/other/y1-personal-content1-img1.jpg" class="y1-left-box1-img1" alt="">
                        <div class="y1-left-box1-text">
                            <p class="y1-left-box1-text-p">2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装</p>
                            <span class="y1-left-box1-text-sp">颜色：水洗白</span>
                            <span class="y1-left-box1-text-sp">尺码：28英寸</span>
                        </div>
                        <div class="y1-left-box1-danjia">
                            ￥289.00
                        </div>
                        <div class="y1-left-box1-shuliang">
                            1
                        </div>
                    </div>
                </div>
                <div class="y1-personal-content1-right">
                    <div class="y1-right-box1-shifukuan">
                        <span class="y1-right-box1-shifukuan-sp1">¥596.00</span>
                        <span class="y1-right-box1-shifukuan-sp1">(含运费:¥0.00)</span>
                    </div>
                    <div class="y1-right-box1-zhuangtai">
                        <span class="y1-right-box1-zhuangtai-sp1">买家已付款</span>
                        <span class="y1-right-box1-zhuangtai-sp1">订单详情</span>
                    </div>
                    <!-- <div class="y1-right-box1-jiaoyicaozuo">
                        <span class="y1-right-box1-jiaoyicaozuo-sp1">立即付款</span>
                        <span class="y1-right-box1-jiaoyicaozuo-sp2">取消订单</span>
                    </div> -->
                </div>
            </div>
            <div class="y1-personal-content1">
                <div class="y1-personal-content1-top">
                    <div class="y1-personal-content1-date">
                        2018-05-24
                        <span class="y1-personal-content1-date-hours">09:21:54</span>
                    </div>
                    <div class="y1-personal-content1-oder">
                        订单号 ：14578524584
                    </div>
                </div>
                <div class="y1-personal-content1-left">
                    <div class="y1-personal-content1-left-box1">
                        <img src="../../public/img/other/y1-personal-content1-img1.jpg" class="y1-left-box1-img1" alt="">
                        <div class="y1-left-box1-text">
                            <p class="y1-left-box1-text-p">2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装</p>
                            <span class="y1-left-box1-text-sp">颜色：水洗白</span>
                            <span class="y1-left-box1-text-sp">尺码：28英寸</span>
                        </div>
                        <div class="y1-left-box1-danjia">
                            ￥289.00
                        </div>
                        <div class="y1-left-box1-shuliang">
                            1
                        </div>
                    </div>
                </div>
                <div class="y1-personal-content1-right">
                    <div class="y1-right-box1-shifukuan">
                        <span class="y1-right-box1-shifukuan-sp1">¥596.00</span>
                        <span class="y1-right-box1-shifukuan-sp1">(含运费:¥0.00)</span>
                    </div>
                    <div class="y1-right-box1-zhuangtai">
                        <span class="y1-right-box1-zhuangtai-sp1">买家已付款</span>
                        <span class="y1-right-box1-zhuangtai-sp1">订单详情</span>
                    </div>
                    <!-- <div class="y1-right-box1-jiaoyicaozuo">
                        <span class="y1-right-box1-jiaoyicaozuo-sp1">立即付款</span>
                        <span class="y1-right-box1-jiaoyicaozuo-sp2">取消订单</span>
                    </div> -->
                </div>
            </div>
            <!-- 没有订单显示状态 -->
            <div class="f1-userCenter-status" hidden>
                <div class="f1-userCenter-status-txt">
                    没有找到符合条件的订单
                </div>
                <div>
                    <a class="f1-userCenter-status-href" href="#">查看全部订单</a>
                    <a class="f1-userCenter-status-home" href="#">去首页看看</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>