<!--退款中订单详情-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/x1-personalCenter.css">
	<script src="../../public/js/libraries/jquery-1.12.4.js"></script>
	<script src="../../public/js/x1-personalCenter.js"></script>
    <title>个人中心-订单详情-中</title>
</head>
	<body>
		<div class="y1-personal-container clearFix">
				<div class="y1-personal-column">
		            <img src="../../public/img/other/y1-personal-img1.jpg" class="y1-personal-column-img1" alt="">
		            <p class="y1-personal-column-p1">用户昵称</p>
		            <ul id="f1-userCenter-left-hover">
		                <li class="y1-personal-column-ul-li" data-number="1">
		                    我的订单
		                </li>
		                <li class="y1-personal-column-ul-li y1-personal-column-ul-li-active" data-number="2">
		                    退款管理
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="3">
		                    个人资料
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="4">
		                    修改登录密码
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="5">
		                    收货地址
		                </li>
		                <li class="y1-personal-column-ul-li " data-number="6">
		                    我的收藏
		                </li>
		            </ul>
	       		</div>
	        	<div class="y1-personal-Myoder">
            <!--导航栏-->
		            <div class="y1-personal-Myoder-nav">
		                <ul class="y1-personal-Myoder-nav-ul">
		                    <li class="y1-personal-Myoder-nav-ul-li w1-order-nav"><< 返回</li>
		                </ul>        
		            </div>
		            <div class="w1-Arefund-content1">
		            	<table border="0" cellspacing="13" cellpadding="1" class="w1-Arefund-content1-tab">
		            		<tr>
		            			<td>
		            				订单编码：
		            			</td>
		            			<td>
		            				14578524584
		            			</td>
		            		</tr>
		            		<tr>
		            			<td>
		            				退款商品：
		            			</td>
		            			<td>
		            				<img src="../../public/img/other/y1-personal-content1-img1.jpg" class="w1-Arefund-content1-box1-2" alt="">
			                        <div class="w1-Arefund-content1-box1-3">
			                            <p class="w1-order-content2-box1-3-p1">2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装</p>
			                            <span class="w1-order-content2-box1-3-p2">颜色：水洗白</span>
			                            <span class="w1-order-content2-box1-3-p3">尺码：28英寸</span>
			                        </div>
		            			</td>
		            		</tr>
		            		<tr>
		            			<td>
		            				退款原因：
		            			</td>
		            			<td class="w1-Arefund-content1-tab-td1">
		            				<span class="w1-Arefund-content1-tab-sp">*</span>
		            				<select class="w1-Arefund-content1-tab-sel" name="">
		            					<option class="w1-Arefund-content1-tab-opt1" value="" disabled selected hidden>请选择</option>
		            					<option value="">拍错/多拍/不想要</option>
		            					<option value="">协商一致退款</option>
		            					<option value="">缺货</option>
		            					<option value="">未按约定时间发货</option>
		            					<option value="">其他原因</option>
		            				</select>
		            			</td>
		            		</tr>
		            		<tr>
		            			<td>
		            				退款金额：
		            			</td>
		            			<td class="w1-Arefund-content1-tab-td2">
		            				<span class="w1-Arefund-content1-tab-td2-sp">*</span>
		            				<p class="w1-Arefund-content1-tab-td2-p1">￥289.00</p>
		            			</td>
		            		</tr>
		            		<tr>
		            			<td>
		            				
		            			</td>
		            			<td class="w1-Arefund-content1-tab-td3">
		            			<p class="w1-Arefund-content1-tab-td3-p1">最多￥289.00，含发货邮费￥0.00</p>
		            			</td>
		            		</tr>
		            		<tr>
		            			<td class="w1-Arefund-content1-tab-td4">
		            				退款说明：
		            			</td>
		            			<td class="w1-Arefund-content1-tab-td5">
		            				<textarea class="w1-Arefund-content1-tab-td5-txt"></textarea>
									<span class="w1-Arefund-content1-tab-td5-sp">0/200</span>
		            			</td>
		            		</tr>
		            		<tr>
		            			<td class="w1-Arefund-content1-tab-td4">
		            				上传图片：
		            			</td>
		            			<td class="w1-Arefund-content1-tab-td6">
					            	<div class="w1-Arefund-content1-tab-td6-image">
								 		<div class="w1-Arefund-content1-tab-td6-inp" id="shangChuan">
								 			<img class="" src="../../public/img/other/g1-comment5.png" alt="" />
								 			<p class="w1-Arefund-content1-tab-td6-p">最多上传3张图片</p>
											<input id="shangchuan" type="file" value="本地上传" />
								 		</div>
								 		
								 	</div>
		            			</td>
		            		</tr>
		            		<tr>
		            			<td >
		            				
		            			</td>
		            			<td>
					            	<button class="w1-Arefund-content1-tab-td7">提交</button>
		            			</td>
		            		</tr>
		            	</table>
		            	<div id="g1-paySuccess-comment-container-daTuK" class="g1-paySuccess-comment-container-daTuK">			
							<img id="g1-paySuccess-comment-container-GB" class="g1-paySuccess-comment-container-GB" src="../../public/img/other/g1-comment6.png"/>
							<img class="g1-paySuccess-comment-container-daTuInner" src="" alt="" />			
						</div>
		            </div>
		         
      		
	        	</div>
		</div>
	</body>
</html>
	