<!--退款中订单详情-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="../../public/css/base.css">
	<link rel="stylesheet" href="../../public/css/x1-personalCenter.css">
	<script src="../../public/js/libraries/jquery-1.12.4.js"></script>
	<script src="../../public/js/x1-personalCenter.js"></script>
    <title>个人中心-订单详情-中</title>
</head>
	<body>
		<div class="y1-personal-container clearFix">
				<div class="y1-personal-column">
		            <img src="../../public/img/other/y1-personal-img1.jpg" class="y1-personal-column-img1" alt="">
		            <p class="y1-personal-column-p1">用户昵称</p>
		            <ul id="f1-userCenter-left-hover">
		                <li class="y1-personal-column-ul-li" data-number="1">
		                    我的订单
		                </li>
		                <li class="y1-personal-column-ul-li y1-personal-column-ul-li-active" data-number="2">
		                    退款管理
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="3">
		                    个人资料
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="4">
		                    修改登录密码
		                </li>
		                <li class="y1-personal-column-ul-li" data-number="5">
		                    收货地址
		                </li>
		                <li class="y1-personal-column-ul-li " data-number="6">
		                    我的收藏
		                </li>
		            </ul>
	       		</div>
	        	<div class="y1-personal-Myoder">
            <!--导航栏-->
		            <div class="y1-personal-Myoder-nav">
		                <ul class="y1-personal-Myoder-nav-ul">
		                    <li class="y1-personal-Myoder-nav-ul-li w1-order-nav"><< 返回</li>
		                </ul>        
		            </div>
		            <div class="w1-rprogress-content1">
		            	<p class="w1-refunds-content1-1">退款中</p>
		            	<p class="w1-refunds-content1-2-p">申请退款时间：2018-05-21 21:56:12</p>
		            	<div class="w1-refunds-content1-2">
		            	</div>
		            	<p class="w1-rprogress-content1-3">
		            		申请退款时间：2018-05-21 21:56:12
		            	</p>
		            	<div class="w1-rprogress-content1-4">
		            		<p>
		            			商家收货人：朱金培	
		            		</p>
		            		<p>
		            			收货人电话：15896345921
		            		</p>
		            		<p>
		            			商家收货地址：广东省惠州市东县 大岭镇黄果铺村128号放门口
		            		</p>
		            	</div>
		            </div>
		            <div class="w1-refunds-content3">
		            	退款详情
		            </div>
      				<div class="w1-refund-content2">
      					<div class="w1-refund-content2-box1">
      						<span class="w1-refund-content2-box1-shangpin">
      							商品
      						</span>
      						<span class="w1-refund-content2-box1-jine">
      							成交时间
      						</span>
      						<span class="w1-refund-content2-box1-shijian">
      							商品总价
      						</span>
      						<span class="w1-refund-content2-box1-fuwu">
      							退款要求
      						</span> 
      						<span class="w1-refund-content2-box1-zhuangtai">
      							退款金额
      						</span>
      						<span class="w1-refund-content2-box1-jiaoyi">
      							货物状态
      						</span>
      					</div>
      				<div class="w1-refund-content1">
                    <div class="w1-order-content4-p">
                        订单编码：14578524584
                    </div>
                    <div class="y1-personal-content1-oder">
                        退款编码：14578524584
                    </div>
                </div>
                <div class="w1-order-content2-box2">
                    <div class="w1-refund-content2-box1-1">
                        <div class="w1-refunds-content2-box1-1-1">
                        <img src="../../public/img/other/y1-personal-content1-img1.jpg" class="w1-order-content2-box1-2" alt="">
                        <div class="w1-refund-content2-box1-3">
                            <p class="w1-order-content2-box1-3-p1">2018春夏装新款 时尚v领修身雪纺印花连衣裙 甜美公主裙品牌女装</p>
                            <span class="w1-order-content2-box1-3-p2">颜色：水洗白</span>
                            <span class="w1-order-content2-box1-3-p3">尺码：28英寸</span>
                        </div>
                        </div>
                        <div class="w1-refunds-content2-box1-4">
                         		  2018-04-21 14:23:12
                        </div>
                        <div class="w1-refunds-content2-box1-5">
                              		￥289.00
                        </div>
                         <div class="w1-refund-content2-box1-6">
                                     	退货
                        </div>
                        <div class="w1-refund-content2-box1-7">
                                    	￥289.00
                        </div>
                        <div class="w1-refund-content2-box1-8">
                              		已寄回
                        </div>
                    </div>
                    
                </div>
      				</div>
	        	</div>
		</div>
	</body>
</html>
