<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="../../public/css/base.css">
		<link rel="stylesheet" href="../../public/css/g1-paySuccess.css">
		<link rel="stylesheet" href="../../public/css/x1-personalCenter.css">
		<link rel="stylesheet" href="../../public/css/libraries/swiper.css">
		<script src="../../public/js/libraries/jquery-1.12.4.js"></script>
		<script src="../../public/js/libraries/swiper.js"></script>
		<script src="../../public/js/g1-paySuccess.js"></script>
		<title>修改登录密码</title>
	</head>

	<body>
		<div class="g1-paySuccess-setPassword-container">
			<!--左侧列表-->
			<div class="y1-personal-column">
				<img src="../../public/img/other/y1-personal-img1.jpg" class="y1-personal-column-img1" alt="">
				<p class="y1-personal-column-p1">豚豚</p>
				<ul id="f1-userCenter-left-hover">
					<li class="y1-personal-column-ul-li" data-number="1">
						我的订单
					</li>
					<li class="y1-personal-column-ul-li" data-number="2">
						退款管理
					</li>
					<li class="y1-personal-column-ul-li" data-number="3">
						个人资料
					</li>
					<li class="y1-personal-column-ul-li y1-personal-column-ul-li-active" data-number="4">
						修改登录密码
					</li>
					<li class="y1-personal-column-ul-li" data-number="5">
						收货地址
					</li>
					<li class="y1-personal-column-ul-li " data-number="6">
						我的收藏
					</li>
				</ul>
			</div>
			<!--结束-->
			<!--修改密码内容-->
			<div class="g1-paySuccess-setPassword-container-content g1fl">
				<div class="g1-paySuccess-setPassword-container-content-nav">
					<p>修改登录密码</p>
				</div>
				<div class="g1-paySuccess-setPassword-container-content-inner">
					<div>
						<label for="">原密码:</label>
						<input class="g1-input" type="text" placeholder="请输入原密码" />
						<p>!原密码输入错误</p>
					</div>
					<div>
						<label for="">新密码:</label>
						<input class="g1-input" type="text" placeholder="请输入5-16位字母和数字的组合密码" maxlength="16" minlength="5" />
						<p>!必须输入5-16位字母和数字的组合密码</p>
					</div>
					<div>
						<label for="">确认密码:</label>
						<input class="g1-input" type="text" placeholder="请确认新密码" />
						<p>!两次密码输入不一致</p>
					</div>
					<div>
						<input class="g1-paySuccess-setPassword-container-content-inner-button" type="button" value="确认并保存" />
						<a class="WJMM" href="#">忘记密码?</a>
					</div>
				</div>
			</div>
			<!--结束-->
		</div>
	</body>

</html>