<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/content-11.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/content-11.js"></script>
		<title></title>
	</head>
	<body>
		<!--轮播-->
		<div class="swiper-container">					
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/cake-index-4.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/cake-index-4.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
		      		<a href="#">
		      			<img src="template/public/img/other/cake-index-4.png" alt="" />
		      		</a>
			    </div>
		    </div>
		    <div class="swiper-pagination"></div>
		</div>
		<!--系列1-->
		<div class="cake-index-main-container-list1 clearFix">
			<div class="cake-index-main-container-list1-top clearFix">
				<p class="fcake_l cake-index-main-container-list1-top-left">经典系列</p>
				<div class="fcake_r cake-index-main-container-list1-top-right">
					<ul id="cake-index-main-container-list1-tab1" class="fcake_l cake-index-main-container-list1-top-right-ul">
						<li class="fcake_l cake-index-main-container-list1-top-right-li cake-index-main-container-list1-top-right-li-qh">慕斯蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">奶油蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">水果蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">慕斯蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">芝士蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">抹茶蛋糕</li>
					</ul>
					<a class="fcake_r cake-index-main-container-list1-top-right-a" href="#">更多</a>
				</div>
			</div>
			<div class="cake-index-main-container-list1-bot clearFix">
				<div class="fcake_l cake-index-main-container-list1-bot-left">
					<img class="cake-index-main-container-list1-bot-left-img" src="template/public/img/other/cake-index-5.png" />
					<div class="cake-index-main-container-list1-bot-left-div">
						<p class="fcake_l cake-index-main-container-list1-bot-left-p1">
							<span class="cake-index-main-container-list1-bot-left-span1">CAKKH</span>
							<span class="cake-index-main-container-list1-bot-left-span2">蛋糕</span>
						</p>
						<a class="fcake_r cake-index-main-container-list1-bot-left-a" href="#">more+</a>
					</div>
				</div>
				<div id="cake-index-main-container-list1-bot-tabcon1" class="fcake_r cake-index-main-container-list1-bot-right">
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-8.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-9.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-10.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-9.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-10.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-8.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-10.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-8.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-9.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-8.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-9.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-10.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-10.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-8.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-9.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-9.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-8.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-10.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--系列2-->
		<div class="cake-index-main-container-list1 cake-index-main-container-list2 clearFix">
			<div class="cake-index-main-container-list1-top clearFix">
				<p class="fcake_l cake-index-main-container-list1-top-left">经典系列</p>
				<div class="fcake_r cake-index-main-container-list1-top-right">
					<ul id="cake-index-main-container-list2-tab1" class="fcake_l cake-index-main-container-list1-top-right-ul">
						<li class="fcake_l cake-index-main-container-list1-top-right-li cake-index-main-container-list1-top-right-li-qh">慕斯蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">奶油蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">水果蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">慕斯蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">芝士蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">抹茶蛋糕</li>
					</ul>
					<a class="fcake_r cake-index-main-container-list1-top-right-a" href="#">更多</a>
				</div>
			</div>
			<div class="cake-index-main-container-list1-bot clearFix">
				<div class="fcake_l cake-index-main-container-list1-bot-left">
					<img class="cake-index-main-container-list1-bot-left-img" src="template/public/img/other/cake-index-55.jpg" />
					<div class="cake-index-main-container-list1-bot-left-div">
						<p class="fcake_l cake-index-main-container-list1-bot-left-p1">
							<span class="cake-index-main-container-list1-bot-left-span1">CAKKH</span>
							<span class="cake-index-main-container-list1-bot-left-span2">甜点</span>
						</p>
						<a class="fcake_r cake-index-main-container-list1-bot-left-a" href="#">more+</a>
					</div>
				</div>
				<div id="cake-index-main-container-list2-bot-tabcon1" class="fcake_r cake-index-main-container-list1-bot-right">
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-11.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-12.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-13.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-12.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-11.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-13.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-13.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-12.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-11.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-11.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-12.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-13.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-12.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-11.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-13.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-13.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-12.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-11.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--系列3-->
		<div class="cake-index-main-container-list1 clearFix">
			<div class="cake-index-main-container-list1-top clearFix">
				<p class="fcake_l cake-index-main-container-list1-top-left">经典系列</p>
				<div class="fcake_r cake-index-main-container-list1-top-right">
					<ul id="cake-index-main-container-list3-tab1" class="fcake_l cake-index-main-container-list1-top-right-ul">
						<li class="fcake_l cake-index-main-container-list1-top-right-li cake-index-main-container-list1-top-right-li-qh">慕斯蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">奶油蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">水果蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">慕斯蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">芝士蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">抹茶蛋糕</li>
					</ul>
					<a class="fcake_r cake-index-main-container-list1-top-right-a" href="#">更多</a>
				</div>
			</div>
			<div class="cake-index-main-container-list1-bot clearFix">
				<div class="fcake_l cake-index-main-container-list1-bot-left">
					<img class="cake-index-main-container-list1-bot-left-img" src="template/public/img/other/cake-index-6.png" />
					<div class="cake-index-main-container-list1-bot-left-div">
						<p class="fcake_l cake-index-main-container-list1-bot-left-p1">
							<span class="cake-index-main-container-list1-bot-left-span1">CAKKH</span>
							<span class="cake-index-main-container-list1-bot-left-span2">甜点</span>
						</p>
						<a class="fcake_r cake-index-main-container-list1-bot-left-a" href="#">more+</a>
					</div>
				</div>
				<div id="cake-index-main-container-list3-bot-tabcon1" class="fcake_r cake-index-main-container-list1-bot-right">
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-14.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-15.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-16.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-15.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-14.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-16.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-16.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-15.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-14.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-14.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-15.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-16.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-15.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-14.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-16.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-16.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-14.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-15.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--系列4-->
		<div class="cake-index-main-container-list1 cake-index-main-container-list2 clearFix">
			<div class="cake-index-main-container-list1-top clearFix">
				<p class="fcake_l cake-index-main-container-list1-top-left">经典系列</p>
				<div class="fcake_r cake-index-main-container-list1-top-right">
					<ul id="cake-index-main-container-list4-tab1" class="fcake_l cake-index-main-container-list1-top-right-ul">
						<li class="fcake_l cake-index-main-container-list1-top-right-li cake-index-main-container-list1-top-right-li-qh">慕斯蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">奶油蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">水果蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">慕斯蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">芝士蛋糕</li>
						<li class="fcake_l cake-index-main-container-list1-top-right-li">抹茶蛋糕</li>
					</ul>
					<a class="fcake_r cake-index-main-container-list1-top-right-a" href="#">更多</a>
				</div>
			</div>
			<div class="cake-index-main-container-list1-bot clearFix">
				<div class="fcake_l cake-index-main-container-list1-bot-left">
					<img class="cake-index-main-container-list1-bot-left-img" src="template/public/img/other/cake-index-7.png" />
					<div class="cake-index-main-container-list1-bot-left-div">
						<p class="fcake_l cake-index-main-container-list1-bot-left-p1">
							<span class="cake-index-main-container-list1-bot-left-span1">CAKKH</span>
							<span class="cake-index-main-container-list1-bot-left-span2">甜点</span>
						</p>
						<a class="fcake_r cake-index-main-container-list1-bot-left-a" href="#">more+</a>
					</div>
				</div>
				<div id="cake-index-main-container-list4-bot-tabcon1" class="fcake_r cake-index-main-container-list1-bot-right">
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-17.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-18.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-19.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-18.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-17.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-19.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-19.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-18.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-17.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-19.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/images/cake-index-17.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-18.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-18.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-19.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-17.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
					<div class="cake-index-main-container-list1-bot-right-con1">
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-17.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-18.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
						<div class="fcake_l cake-index-main-container-list1-bot-right-con1-div">
							<a class="cake-index-main-container-list1-bot-right-con1-a1" href="#">
								<img class="cake-index-main-container-list1-bot-right-con1-img" src="template/public/img/other/cake-index-19.png" />
							</a>
							<a class="cake-index-main-container-list1-bot-right-con1-a2" href="#">（彼尔得）黑白巧克力慕斯</a>
							<p class="cake-index-main-container-list1-bot-right-con1-p">&yen;218</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>