<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/content-12.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/content-12.js"></script>
		<title></title>
	</head>
	<body>
		<!--轮播-->
		<div class="swiper-container">					
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/deng-index-4.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/deng-index-4.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
		      		<a href="#">
		      			<img src="template/public/img/other/deng-index-4.png" alt="" />
		      		</a>
			    </div>
		    </div>
		    <div class="swiper-pagination"></div>
		</div>
		<!--分类-->
		<div class="deng-index-main-container-fenl clearFix">
			<div class="deng-index-main-container-fenl-con">
				<a class="fdeng_l deng-index-main-container-fenl-a" href="#">
					<p class="deng-index-main-container-fenl-p1">灯具</p>
					<p class="deng-index-main-container-fenl-p2">时时热销顶灯</p>
				</a>
				<a class="fdeng_l deng-index-main-container-fenl-a" href="#">
					<p class="deng-index-main-container-fenl-p1">卫浴</p>
					<p class="deng-index-main-container-fenl-p2">时时热销顶灯</p>
				</a>
				<a class="fdeng_l deng-index-main-container-fenl-a" href="#">
					<p class="deng-index-main-container-fenl-p1">工具</p>
					<p class="deng-index-main-container-fenl-p2">时时热销顶灯</p>
				</a>
				<a class="fdeng_l deng-index-main-container-fenl-a" href="#">
					<p class="deng-index-main-container-fenl-p1">家装建材</p>
					<p class="deng-index-main-container-fenl-p2">时时热销顶灯</p>
				</a>
				<a class="fdeng_l deng-index-main-container-fenl-a" href="#">
					<p class="deng-index-main-container-fenl-p1">五金工具</p>
					<p class="deng-index-main-container-fenl-p2">时时热销顶灯</p>
				</a>
				<a class="fdeng_l deng-index-main-container-fenl-a" href="#">
					<p class="deng-index-main-container-fenl-p1">家装定制</p>
					<p class="deng-index-main-container-fenl-p2">时时热销顶灯</p>
				</a>
			</div>
		</div>
		<!--精品推荐-->
		<div class="deng-index-main-container-jp clearFix">
			<div class="deng-index-main-container-jp-con">
				<div class="deng-index-main-container-jp-top">
					<p class="deng-index-main-container-jp-top-p1">精品推荐</p>					
					<p class="deng-index-main-container-jp-top-p2">所有订单均享免费顺丰速递服务</p>					
				</div>
				<div class="deng-index-main-container-jp-bot">
					<div class="fdeng_l deng-index-main-container-jp-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-5.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-6.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-7.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-8.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
				</div>	
			</div>
		</div>
		<!--网红推荐-->
		<div class="deng-index-main-container-jp clearFix deng-index-main-container-wh">
			<div class="deng-index-main-container-jp-con">
				<div class="deng-index-main-container-jp-top">
					<p class="deng-index-main-container-jp-top-p1">网红推荐</p>					
					<p class="deng-index-main-container-jp-top-p2">所有订单均享免费顺丰速递服务</p>					
				</div>
				<div class="deng-index-main-container-jp-bot">
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-9.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-10.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-11.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-12.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-13.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-14.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-15.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-16.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-17.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-18.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-19.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
					<div class="fdeng_l deng-index-main-container-jp-bot-div deng-index-main-container-wh-bot-div">
						<a class="deng-index-main-container-jp-bot-a1" href="#"><img class="deng-index-main-container-jp-bot-img" src="template/public/img/other/deng-index-20.png" /></a>
						<a class="deng-index-main-container-jp-bot-a2" href="#">欧莱雅印迹唇釉</a>
						<p class="deng-index-main-container-jp-bot-p1">一抹色彩宣言，雾感，轻薄，整日持久</p>
						<p class="deng-index-main-container-jp-bot-p2">
							<span class="fdeng_l deng-index-main-container-jp-bot-span1">￥145.00</span>
							<span class="fdeng_r deng-index-main-container-jp-bot-span2"></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>