<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/top-5.css">
		<link rel="stylesheet" href="template/public/css/foot-5.css" />
		<link rel="stylesheet" href="template/public/css/content-5.css">
		<script src="template/public/js/libraries/jquery-1.12.4.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<script src="template/public/js/top-5.js"></script>
		<script src="template/public/js/content-5.js"></script>
		<title>首页</title>
	</head>

	<body>
		<div class="x5-mian-banner">
			<div class="f5-main-banner-box">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="template/public/img/other/x2-main-banner2.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="template/public/img/other/x2-main-banner3.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--nav-->
		<div class="x5-main-nav clearFix">
			<div class="x5-main-nav-div">
				<a class="x5-main-nav-div-a" href="javascript:;">男装</a>
			</div>
			<div class="x5-main-lookMore">
				<a class="x5-main-lookMore-a" href="javascript:;">查看更多>></a>
			</div>
		</div>
		<!--shops-->
		<div class="x5-main-shops clearFix">
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>
			<div class="x5-shops-div">
				<img class="x5-shops-img" src="template/public/img/other/x2-main-shopImg24.jpg" />
				<p class="x5-shops-text">【2018新款】男士t恤翻领条纹打底嗒嘀嗒嘀嗒按时按时啊</p>
				<p class="x5-shops-price">$69.90<span class="x5-shops-price-span">$79.99</span></p>
			</div>

		</div>
	</body>

</html>