<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/content-9.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.min.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/content-9.js"></script>
		<title></title>
	</head>
	<body>
		<!--轮播-->
		<div class="swiper-container">					
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/xiefu-index-4.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/xiefu-index-4.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
		      		<a href="#">
		      			<img src="template/public/img/other/xiefu-index-4.png" alt="" />
		      		</a>
			    </div>
		    </div>
		</div>
		<!--分类鞋-->
		<div class="xiefu-index-main-xie-content clearFix">
			<div class="xiefu-index-main-xie">
				<img class="fxiefu_l xiefu-index-main-xie-tl clearFix" src="template/public/img/other/xiefu-index-5.png" />
				<div class="fxiefu_r xiefu-index-main-xie-tr clearFix">
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-6.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-7.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-8.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-9.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-10.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-11.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>	
				</div>
				<div class="fxiefu_l xiefu-index-main-xie-bot clearFix">
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-12.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-13.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-14.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-15.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-16.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-17.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-18.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-19.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-20.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-21.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-22.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-23.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">男士透气休闲鞋</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
				</div>
			</div>
		</div>
		<!--分类服装-->
		<div class="xiefu-index-main-xie-content clearFix">
			<div class="xiefu-index-main-xie">
				<img class="fxiefu_l xiefu-index-main-xie-tl clearFix" src="template/public/img/other/xiefu-index-24.png" />
				<div class="fxiefu_r xiefu-index-main-xie-tr clearFix">
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-25.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-26.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-27.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-28.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-29.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-30.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>	
				</div>
				<div class="fxiefu_l xiefu-index-main-xie-bot clearFix">
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-31.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-32.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-33.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-34.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-35.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-36.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-37.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-38.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-38.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-40.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-41.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
					<div class="fxiefu_l xiefu-index-main-xie-tr-con xiefu-index-main-xie-bot-con">
						<a class="xiefu-index-main-xie-tr-con-a1" href="#"><img class="xiefu-index-main-xie-tr-con-img" src="template/public/img/other/xiefu-index-42.png" /></a>
						<a class="xiefu-index-main-xie-tr-con-a2" href="#">不对称露肩长款连身裙</a>
						<p class="xiefu-index-main-xie-tr-con-p">&yen;299</p>
					</div>
				</div>
			</div>
		</div>
		<!--新品上市-->
		
		
	</body>
</html>