<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/content-2.css"/>
		<script src="template/public/js/libraries/jquery-1.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<script src="template/public/js/content-2.js"></script>
		<title></title>
	</head>
	<body>
<!-- banner modules -->
<div class="x2-mian-banner">
	<div class="f2-main-banner-box">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="template/public/img/x2-main-banner2.jpg"  alt="">
				</div>
				<div class="swiper-slide">
					<img src="template/public/img/x2-main-banner3.jpg"  alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<!--contentigation-->
<div class="x2-main-contentigation clearFix">
	<div class="x2-main-contentigation1 x2-contentigation"><div class="x2-contentigation-shade"><div class="x2-contentigation-title"><div class="x2-contentigation-title-text"><p class="x2-contentigation-title-text-p1">周一上新</p><p class="x2-contentigation-title-text-p2">你想	要的这里都有</p></div></div></div></div>
	<div class="x2-main-contentigation2 x2-contentigation"><div class="x2-contentigation-shade"><div class="x2-contentigation-title"><div class="x2-contentigation-title-text"><p class="x2-contentigation-title-text-p1">优雅晚礼</p><p class="x2-contentigation-title-text-p2">你的衣柜里有晚礼服吗</p></div></div></div></div>
	<div class="x2-main-contentigation3 x2-contentigation"><div class="x2-contentigation-shade"><div class="x2-contentigation-title"><div class="x2-contentigation-title-text"><p class="x2-contentigation-title-text-p1">百变穿搭</p><p class="x2-contentigation-title-text-p2">找寻你自己的穿搭秘籍</p></div></div></div></div>
	<div class="x2-main-contentigation4 x2-contentigation"><div class="x2-contentigation-shade"><div class="x2-contentigation-title"><div class="x2-contentigation-title-text"><p class="x2-contentigation-title-text-p1">爱意浓浓</p><p class="x2-contentigation-title-text-p2">和你的宝贝一起享受这个世界</p></div></div></div></div>
</div>
<!--x2-今日秒杀-->
<div class="x2-main-content">
	<div class="x2-main-content-top">
		<p class="x2-main-content-top-p">今日秒杀</p>
	</div>
	<div class="x2-main-content-center clearFix">
		<div class="x2-main-content-div">
			<img src="template/public/img/x2-main-shopImg37.jpg" />
			<div class="x2-main-content-djs">
				<p class="x2-main-content-djs-p">距离结束:<span id="hour_show" class="x2-main-content-djs-span">00</span>:<span id="minute_show" class="x2-main-content-djs-span">00</span>:<span id="second_show" class="x2-main-content-djs-span">00</span></p>
			</div>
			<div class="x2-main-content-div-text">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p">￥199.00<span class="x2-main-content-div-money-span">￥199.00</span></p>
			</div>
		</div>
		<div class="x2-main-content-div">
			<img src="template/public/img/x2-main-shopImg38.jpg" />
			<div class="x2-main-content-djs">
				<p class="x2-main-content-djs-p">距离结束:<span class="x2-main-content-djs-span">23</span>:<span class="x2-main-content-djs-span">00</span>:<span class="x2-main-content-djs-span">59</span></p>
			</div>
			<div class="x2-main-content-div-text">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p">￥199.00<span class="x2-main-content-div-money-span">￥199.00</span></p>
			</div>
		</div>
		<div class="x2-main-content-div">
			<img src="template/public/img/x2-main-shopImg39.jpg" />
			<div class="x2-main-content-djs">
				<p class="x2-main-content-djs-p">距离结束:<span class="x2-main-content-djs-span">23</span>:<span class="x2-main-content-djs-span">00</span>:<span class="x2-main-content-djs-span">59</span></p>
			</div>
			<div class="x2-main-content-div-text">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p">￥199.00<span class="x2-main-content-div-money-span">￥199.00</span></p>
			</div>
		</div>
		<div class="x2-main-content-div">
			<img src="template/public/img/x2-main-shopImg40.jpg" />
			<div class="x2-main-content-djs">
				<p class="x2-main-content-djs-p">距离结束:<span class="x2-main-content-djs-span">23</span>:<span class="x2-main-content-djs-span">00</span>:<span class="x2-main-content-djs-span">59</span></p>
			</div>
			<div class="x2-main-content-div-text">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p">￥199.00<span class="x2-main-content-div-money-span">￥199.00</span></p>
			</div>
		</div>
		<div class="x2-main-content-div">
			<img src="template/public/img/x2-main-shopImg41.jpg" />
			<div class="x2-main-content-djs">
				<p class="x2-main-content-djs-p">距离结束:<span class="x2-main-content-djs-span">23</span>:<span class="x2-main-content-djs-span">00</span>:<span class="x2-main-content-djs-span">59</span></p>
			</div>
			<div class="x2-main-content-div-text">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p">￥199.00<span class="x2-main-content-div-money-span">￥199.00</span></p>
			</div>
		</div>
	</div>
</div>
<!--广告-->
<div class="x2-main-banner-box clearFix">
	<div class="x2-main-banner1 x2-main-banner">
		<img class="x2-main-close-banner" src="template/public/img/x2-main-close.jpg" />
	</div>
	<div class="x2-main-banner2 x2-main-banner">
		<img class="x2-main-close-banner" src="template/public/img/x2-main-close.jpg" />
	</div>
	<div class="x2-main-banner3 x2-main-banner">
		<img class="x2-main-close-banner" src="template/public/img/x2-main-close.jpg" />
	</div>
</div>
<!--去选购-->
<div class="x2-main-column">
	<div class="x2-main-column-text">
		<p class="x2-main-colum-p">每一件活动季商品的优惠</p>
		<p class="x2-main-colum-p">都不止5折</p>
		<div class="x2-main-btn1">
			去选购
		</div>
	</div>
</div>
<!--广告-->
<div class="x2-main-banner4">
	<img class="x2-main-close-banner" src="template/public/img/x2-main-close.jpg" />
</div>
<!--热卖推荐-->
<div class="x2-main-content-top1">
	<p class="x2-main-content-top-p">热卖推荐</p>
</div>
<div class="x2-main-bottom clearFix">
	<div class="x2-main-bottom-left">
		<img src="template/public/img/x2-main-shopImg.jpg" />
		<div class="x2-main-bottom-left-div">
			<div class="x2-main-bottom-left-div-text">
				那些事首要春色半身短裙短裙啊 啊啊啊 啊啊 啊啊
			</div>
			<p class="x2-main-bottom-left-div-p">￥199.00</p>
			<div class="x2-main-bottom-left-div-btn1">
				去购买
			</div>
		</div>
	</div>
	<div class="x2-main-bottom-right">
		<div class="x2-main-bottom-right-div">
			<img src="template/public/img/x2-main-shopImg24.jpg" />
			<div class="x2-main-content-div-text1">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p">￥199.00</p>
			</div>
		</div>
		<div class="x2-main-bottom-right-div">
			<img src="template/public/img/x2-main-shopImg19.jpg" />
			<div class="x2-main-content-div-text1">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p">￥199.00<span class="x2-main-content-div-money-span"></span></p>
			</div>
		</div>
		<div class="x2-main-bottom-right-div">
			<img src="template/public/img/x2-main-shopImg20.jpg" />
			<div class="x2-main-content-div-text1">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p">￥199.00<span class="x2-main-content-div-money-span"></span></p>
			</div>
		</div>
		<div class="x2-main-bottom-right-div">
			<img src="template/public/img/x2-main-shopImg21.jpg" />
			<div class="x2-main-content-div-text1">
				女士印花高开叉长裙子连衣裙 连衣装聋作哑那时爱顾城的诗
			</div>
			<div class="x2-main-content-div-money">
				<p class="x2-main-content-div-money-p1">￥199.00<span class="x2-main-content-div-money-span1"></span></p>
			</div>
		</div>
	</div>
</div>
<div class="x2-main-btn2">
	查看更多
</div>
	</body>
</html>
