<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/content-7.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.min.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/content-7.js"></script>
		<title></title>
	</head>
	<body>
		<!--轮播-->
		<div class="swiper-container">					
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/cha-index-lun1.jpg" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/cha-index-lun1.jpg" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
		      		<a href="#">
		      			<img src="template/public/img/other/cha-index-lun1.jpg" alt="" />
		      		</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/cha-index-lun1.jpg" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
		      		<a href="#">
		      			<img src="template/public/img/other/cha-index-lun1.jpg" alt="" />
		      		</a>
			    </div>
		    </div>
		    <div class="swiper-pagination"></div>
		</div>
		<!--礼品茶-->
		<div class="cha1-index-main-container-gc">
			<div class="cha1-index-main-container-gc-top">
				<div class="fcha_l cha1-index-main-container-gc-top-left">
					<p class="cha1-index-main-container-gc-top-left-p1">礼品茶</p>
					<p class="cha1-index-main-container-gc-top-left-p2"></p>
					<p class="cha1-index-main-container-gc-top-left-p3">Gift city</p>
				</div>
				<div class="fcha_r cha1-index-main-container-gc-top-right">
					<ul id="cha1-index-main-tab-gc" class="cha1-index-main-container-gc-top-right-ul">
						<li class="fcha_l cha1-index-main-container-gc-top-right-li cha1-index-main-container-gc-top-right-li-qh">西湖龙井茶</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">泉城红</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">泉城绿</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">洞庭碧螺春</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">黄山毛峰</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">庐山云雾</li>
					</ul>
				</div>
			</div>
			<!--茶品列表-->
			<div class="cha1-index-main-container-zong">
				<!--西湖龙井-->
				<div id="cha1-index-main-containers-gc1">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-13.png"  /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-13.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">醉品朴茶 2018年西湖龙井</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-12.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">醉品朴茶  碧螺春</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-14.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">豫信 信阳毛尖</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-8.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">文新 信阳毛尖 2018明前茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-7.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">豫信信阳毛尖茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-10.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">淑女装小清新连衣裙</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-11.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">豫信信阳毛尖茶·人 500g</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--泉城红-->
				<div id="cha1-index-main-containers-gc2">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--泉城绿-->
				<div id="cha1-index-main-containers-gc3">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/ha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--洞庭碧螺春-->
				<div id="cha1-index-main-containers-gc4">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--黄山毛峰-->
				<div id="cha1-index-main-containers-ts5">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--庐山云雾-->
				<div id="cha1-index-main-containers-ts6">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
			</div>
		</div>
		<!--茶具购买-->
		<div class="cha1-index-main-container-buy"><a href="#"><img class="cha1-index-main-container-buy-img" src="template/public/img/other/cha-index-6.jpg" /></a></div>
		<!--茶具-->
		<div class="cha1-index-main-container-gc">
			<div class="cha1-index-main-container-gc-top">
				<div class="fcha_l cha1-index-main-container-gc-top-left">
					<p class="cha1-index-main-container-gc-top-left-p1">茶具</p>
					<p class="cha1-index-main-container-gc-top-left-p2"></p>
					<p class="cha1-index-main-container-gc-top-left-p3">Tea set</p>
				</div>
				<div class="fcha_r cha1-index-main-container-gc-top-right">
					<ul id="cha1-index-main-tab-ts" class="cha1-index-main-container-gc-top-right-ul">
						<li class="fcha_l cha1-index-main-container-gc-top-right-li cha1-index-main-container-gc-top-right-li-qh">茶壶</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">品茶杯</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">茶盘</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">茗炉</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">盖碗</li>
						<li class="fcha_l cha1-index-main-container-gc-top-right-li">盖杯</li>
					</ul>
				</div>
			</div>
			<!--茶具列表-->
			<div class="cha1-index-main-container-zong-ts">
				<!--茶壶-->
				<div id="cha1-index-main-containers-ts1">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-16.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">宜兴紫砂杯</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-17.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">功夫茶杯陶瓷景德镇茶具</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-18.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">醉品朴茶  碧螺春</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-19.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">豫信 信阳毛尖</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-20.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">文新 信阳毛尖 2018明前茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-21.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">豫信信阳毛尖茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-22.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">淑女装小清新连衣裙</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-23.png" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">豫信信阳毛尖茶·人 500g</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--品饮杯-->
				<div id="cha1-index-main-containers-ts2">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--茶盘-->
				<div id="cha1-index-main-containers-ts3">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--茗炉-->
				<div id="cha1-index-main-containers-ts4">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--盖碗-->
				<div id="cha1-index-main-containers-ts5">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
				<!--盖杯-->
				<div id="cha1-index-main-containers-ts6">
					<div class="cha1-index-main-container-gc-bottom1 clearFix">
						<ul>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
							<li class="fcha_l cha1-index-main-container-gc-bottom-sd">
								<a class="cha1-index-main-container-gc-bottom-a1" href="#"><img class="cha1-index-main-container-gc-bottom-a1-img" src="template/public/img/other/cha-index-4.jpg" /></a>
								<a class="cha1-index-main-container-gc-bottom-a2" href="#">高山云雾凌云白毫茶</a>
								<div class="cha1-index-main-container-gc-bottom-div"><p class="fcha_l cha1-index-main-container-gc-bottom-div-p">&yen;200</p><a class="fcha_r cha1-index-main-container-gc-bottom-div-a" href="#"><img class="cha1-index-main-container-gc-bottom-div-img" src="images/cha-index-5.png"/></a></div>
							</li>
						</ul>
					</div>
	
					<!--点击切换-->
					<ul id="cha1-index-main-container-gc-djId" class="cha1-index-main-container-gc-dj">
					</ul>
				</div>
			</div>
			
		</div>
	</body>
</html>