<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/content-8.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.min.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/content-8.js"></script>
		<title></title>
	</head>
	<body>
		<!--轮播-->
		<div class="swiper-container">					
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/jiaju-index-2.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/jiaju-index-2.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
		      		<a href="#">
		      			<img src="template/public/img/other/jiaju-index-2.png" alt="" />
		      		</a>
			    </div>
		    </div>
		</div>
		<!--分类-->
		<div class="jiaju1-index-main-container-fenl clearFix">
			<div class="fjiaju_l jiaju1-index-main-container-fenl-div">
				<a href="#"><img src="template/public/img/other/jiaju-index-4.png" /></a>
				<p class="jiaju1-index-main-container-fenl-p">欧式</p>
			</div>
			<div class="fjiaju_l jiaju1-index-main-container-fenl-div">
				<a href="#"><img src="template/public/img/other/jiaju-index-5.png" /></a>
				<p class="jiaju1-index-main-container-fenl-p">现代简约</p>
			</div>
			<div class="fjiaju_l jiaju1-index-main-container-fenl-div">
				<a href="#"><img src="template/public/img/other/jiaju-index-3.png" /></a>
				<p class="jiaju1-index-main-container-fenl-p">新中式</p>
			</div>
			<div class="fjiaju_l jiaju1-index-main-container-fenl-div">
				<a href="#"><img src="template/public/img/other/jiaju-index-6.png" /></a>
				<p class="jiaju1-index-main-container-fenl-p">古典</p>
			</div>
			<div class="fjiaju_l jiaju1-index-main-container-fenl-div">
				<a href="#"><img src="template/public/img/other/jiaju-index-7.png" /></a>
				<p class="jiaju1-index-main-container-fenl-p">美式</p>
			</div>
		</div>
		<!--新品上市-->
		<div class="jiaju1-index-main-container-newp clearFix">
			<div class="jiaju1-index-main-container-newp-top">
				<p class="jiaju1-index-main-container-newp-top-p1">
					<span class="jiaju1-index-main-container-newp-top-span1">New arrival</span>&nbsp;&nbsp;
					<span class="jiaju1-index-main-container-newp-top-span2">新品上市</span>
				</p>
				<p class="jiaju1-index-main-container-newp-top-p2">2019 spring</p>
			</div>
			<div class="jiaju1-index-main-container-newp-bot">
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-8.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">进口橡胶木框架优雅简约板式床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-9.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">进口橡胶木框架优雅简约板式床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-10.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">进口橡胶木框架优雅简约板式床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-10.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-11.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-12.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-13.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-14.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-15.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-16.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-17.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
				<div class="fjiaju_l jiaju1-index-main-container-newp-bot-div">
					<a class="jiaju1-index-main-container-newp-bot-a1" href="#"><img src="template/public/img/other/jiaju-index-18.jpg" /></a>
					<a class="jiaju1-index-main-container-newp-bot-a2" href="#">异域双色1.5米排骨架床</a>
					<p class="jiaju1-index-main-container-newp-bot-p1">1.5米 1.8米北欧双人床单人储物高箱床现代简约软包皮床</p>
					<p class="jiaju1-index-main-container-newp-bot-p2">
						<span class="jiaju1-index-main-container-newp-bot-span1">价格：</span>
						<span class="jiaju1-index-main-container-newp-bot-span2">189</span>
					</p>
				</div>
			</div>
			
		</div>
	</body>
</html>