<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/content-4.css" />
		<script src="template/public/js/libraries/jquery-1.12.4.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<script src="template/public/js/content-4.js"></script>
		<title>首页4</title>
	</head>
	<body>
		<!--内容开始-->
		<div class="g1-index4-container">
			<!-- Swiper轮播 -->
			<div class="swiper-container">
			    <div class="swiper-wrapper">
				    <div class="swiper-slide">
				    	<img src="template/public/img/other/g1-index4-4.png"/>
				    </div>
				    <div class="swiper-slide">
				    	<img src="template/public/img/other/g1-index4-4.png"/>
				    </div>
				    <div class="swiper-slide">
			      		<img src="template/public/img/other/g1-index4-4.png"/>
				    </div>
			    </div>
			</div>
			<!---->
			<div class="g1-index4-container-fenLei">
				<div class="g1-index4-container-fenLei-Zhu g1f_l">
					<a href="#">
						<div class="g1-index4-container-fenLei-title">
							裙装
						</div>
						<img src="template/public/img/other/g1-index4-6.png"/>
					</a>
				</div>
				<div class="g1-index4-container-fenLei-ci g1f_l">
					<a href="#">
						<div class="g1-index4-container-fenLei-title">
							上衣
						</div>
						<img src="template/public/img/other/g1-index4-7.png"/>
					</a>
				</div>
				<div class="g1-index4-container-fenLei-ci g1f_l">
					<a href="#">
						<div class="g1-index4-container-fenLei-title">
							裤子
						</div>
						<img src="template/public/img/other/g1-index4-8.png"/>
					</a>
				</div>
				<div class="g1-index4-container-fenLei-ci g1f_l">
					<a href="#">
						<div class="g1-index4-container-fenLei-title">
							套装
						</div>
						<img src="template/public/img/other/g1-index4-9.png"/>
					</a>
				</div>
				<div class="g1-index4-container-fenLei-ci g1f_l">
					<a href="#">
						<div class="g1-index4-container-fenLei-title">
							内衣
						</div>
						<img src="template/public/img/other/g1-index4-10.png"/>
					</a>
				</div>
			</div>
			<!--热卖-->
			<div class="g1-index4-container-reMai">
				<div class="g1-index4-container-reMai-content">
					<p class="g1-index4-container-reMai-content-ziti1">今日热卖<span class="g1-index4-container-reMai-content-ziti2">HOT SALE</span></p>
					<ul class="g1-index4-container-reMai-content-ul">
						<li class="g1f_l g1-index4-container-reMai-content-li">
							<a href="#">
								<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-11.png" alt="" />
							</a>
							<div>
								<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
								<p class="g1-index4-container-reMai-content-ziti3">
									<span>￥200.00</span>
									<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
								</p>
							</div>							
						</li>
						<li class="g1f_l g1-index4-container-reMai-content-li">
							<a href="#">
								<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-12.png" alt="" />
							</a>
							<div>
								<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
								<p class="g1-index4-container-reMai-content-ziti3">
									<span>￥200.00</span>
									<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
								</p>
							</div>							
						</li>
						<li class="g1f_l g1-index4-container-reMai-content-li">
							<a href="#">
								<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-13.png" alt="" />
							</a>
							<div>
								<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
								<p class="g1-index4-container-reMai-content-ziti3">
									<span>￥200.00</span>
									<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
								</p>
							</div>							
						</li>
						<li class="g1f_l g1-index4-container-reMai-content-li">
							<a href="#">
								<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-14.png" alt="" />
							</a>
							<div>
								<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
								<p class="g1-index4-container-reMai-content-ziti3">
									<span>￥200.00</span>
									<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
								</p>
							</div>							
						</li>
						<li class="g1f_l g1-index4-container-reMai-content-li">
							<a href="#">
								<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-15.png" alt="" />
							</a>
							<div>
								<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
								<p class="g1-index4-container-reMai-content-ziti3">
									<span>￥200.00</span>
									<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
								</p>
							</div>							
						</li>
						<li class="g1f_l g1-index4-container-reMai-content-li">
							<a href="#">
								<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-15.png" alt="" />
							</a>
							<div>
								<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
								<p class="g1-index4-container-reMai-content-ziti3">
									<span>￥200.00</span>
									<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
								</p>
							</div>							
						</li>
						<li class="g1f_l g1-index4-container-reMai-content-li">
							<a href="#">
								<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-15.png" alt="" />
							</a>
							<div>
								<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
								<p class="g1-index4-container-reMai-content-ziti3">
									<span>￥200.00</span>
									<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
								</p>
							</div>							
						</li>
						<li class="g1f_l g1-index4-container-reMai-content-li">
							<a href="#">
								<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-15.png" alt="" />
							</a>
							<div>
								<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
								<p class="g1-index4-container-reMai-content-ziti3">
									<span>￥200.00</span>
									<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
								</p>
							</div>							
						</li>
					</ul>
					<div class="g1-index4-fenYeQi-fenYe">
						<i class="g1-index4-fenYeQi g1-index4-fenYeQi-active"></i>
						<i class="g1-index4-fenYeQi"></i>
					</div>
				</div>
			</div>
			<div class="g1-index4-container-zheKou">
				<div>
					<span class="g1-index4-container-reMai-content-ziti1">年度折扣</span>
					<div class="g1f_r g1-index4-fenYeQi-fenYe">
						<i class="g1-index4-fenYeQi g1-index4-fenYeQi-active"></i>
						<i class="g1-index4-fenYeQi"></i>
						<i class="g1-index4-fenYeQi"></i>
					</div>
				</div>
				<ul>
					<li class="g1f_l g1-index4-container-zheKou-li">
						<a href="#">
							<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-16.png" alt="" />
						</a>
						<div>
							<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
							<p class="g1-index4-container-reMai-content-ziti3">
								<span>￥200.00</span>
								<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
							</p>
						</div>							
					</li>
					<li class="g1f_l g1-index4-container-zheKou-li">
						<a href="#">
							<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-17.png" alt="" />
						</a>
						<div>
							<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
							<p class="g1-index4-container-reMai-content-ziti3">
								<span>￥200.00</span>
								<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
							</p>
						</div>							
					</li>
					<li class="g1f_l g1-index4-container-zheKou-li">
						<a href="#">
							<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-18.png" alt="" />
						</a>
						<div>
							<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
							<p class="g1-index4-container-reMai-content-ziti3">
								<span>￥200.00</span>
								<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
							</p>
						</div>							
					</li>
					<li class="g1f_l g1-index4-container-zheKou-li">
						<a href="#">
							<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-19.png" alt="" />
						</a>
						<div>
							<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
							<p class="g1-index4-container-reMai-content-ziti3">
								<span>￥200.00</span>
								<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
							</p>
						</div>							
					</li>
				</ul>
			</div>
			<!--猜你喜欢-->
			<div class="g1-index4-container-zheKou">
				<div>
					<span class="g1-index4-container-reMai-content-ziti1">猜你喜欢</span>
					<div class="g1f_r g1-index4-fenYeQi-fenYe">
						<i class="g1-index4-fenYeQi g1-index4-fenYeQi-active"></i>
						<i class="g1-index4-fenYeQi"></i>
						<i class="g1-index4-fenYeQi"></i>
					</div>
				</div>
				<ul>
					<li class="g1f_l g1-index4-container-zheKou-li">
						<a href="#">
							<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-16.png" alt="" />
						</a>
						<div>
							<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
							<p class="g1-index4-container-reMai-content-ziti3">
								<span>￥200.00</span>
								<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
							</p>
						</div>							
					</li>
					<li class="g1f_l g1-index4-container-zheKou-li">
						<a href="#">
							<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-17.png" alt="" />
						</a>
						<div>
							<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
							<p class="g1-index4-container-reMai-content-ziti3">
								<span>￥200.00</span>
								<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
							</p>
						</div>							
					</li>
					<li class="g1f_l g1-index4-container-zheKou-li">
						<a href="#">
							<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-18.png" alt="" />
						</a>
						<div>
							<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
							<p class="g1-index4-container-reMai-content-ziti3">
								<span>￥200.00</span>
								<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
							</p>
						</div>							
					</li>
					<li class="g1f_l g1-index4-container-zheKou-li">
						<a href="#">
							<img class="g1-index-shangPin" src="template/public/img/other/g1-index4-19.png" alt="" />
						</a>
						<div>
							<p class="g1-index4-container-reMai-content-ziti3">淑女装小清新连衣裙</p>
							<p class="g1-index4-container-reMai-content-ziti3">
								<span>￥200.00</span>
								<img class="g1f_r g1-index-GWC" src="template/public/img/other/g1-index4-24.png" alt="" />
							</p>
						</div>							
					</li>
				</ul>
			</div>
		</div>
		<!--内容结束-->
	</body>
	<!--轮播图js-->
	<script>
		var swiper = new Swiper('.swiper-container', {
		    pagination: {
		       el: '.swiper-pagination',
		    },
		    autoplay:true,
		    loop:true,

		});
	</script>
</html>
