<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/content-6.css" />
		<script src="template/public/js/libraries/jquery-1.12.4.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<script src="template/public/js/content-6.js"></script>
		<title></title>
	</head>
	<body>
		<div class="g1-index14-container clearFix">
			<!--导航-->
			<div class="g1-index14-container-nav">
				<ul class="g1-index14-container-nav-content">
					<li class="g1f_l g1-index14-container-nav-content-li g1-index14-container-nav-content-li-active">
						<a href="#">首页</a>
					</li>
					<li class="g1f_l g1-index14-container-nav-content-li">
						<a href="#">男装</a>
					</li>
					<li class="g1f_l g1-index14-container-nav-content-li">
						<a href="#">女装</a>
					</li>
					<li class="g1f_l g1-index14-container-nav-content-li">
						<a href="#">上装</a>
					</li>
					<li class="g1f_l g1-index14-container-nav-content-li">
						<a href="#">下装</a>
					</li>
					<li class="g1f_l g1-index14-container-nav-content-li">
						<a href="#">衬衣</a>
					</li>
					<li class="g1f_l g1-index14-container-nav-content-li">
						<a href="#">全部分类</a>
					</li>
				</ul>
			</div>
			<!--轮播-->
			<div class="swiper-container">					
			    <div class="swiper-wrapper">
				    <div class="swiper-slide">
				    	<a href="#">
				    		<img src="template/public/img/other/g1-index14-3.png" alt="" />
				    	</a>
				    </div>
				    <div class="swiper-slide">
				    	<a href="#">
				    		<img src="template/public/img/other/g1-index14-3.png" alt="" />
				    	</a>
				    </div>
				    <div class="swiper-slide">
			      		<a href="#">
			      			<img src="template/public/img/other/g1-index14-3.png" alt="" />
			      		</a>
				    </div>
			    </div>
			</div>
			<!--专区-->
			<ul class="g1-index14-container-zhuanQv clearFix">
				<li class="g1f_l g1-index14-container-zhuanQv-li">
					<a href="#">
						<img class="g1-index14-container-zhuanQv-li-img" src="template/public/img/other/g1-index14-4.png" alt="" />
					</a>
					<div class="g1-index14-container-zhuanQv-li-div">
						男装专区
					</div>
				</li>
				<li class="g1f_l g1-index14-container-zhuanQv-li">
					<a href="#">
						<img class="g1-index14-container-zhuanQv-li-img" src="template/public/img/other/g1-index14-4.png" alt="" />
					</a>
					<div class="g1-index14-container-zhuanQv-li-div">
						男装专区
					</div>
				</li>
				<li class="g1f_l g1-index14-container-zhuanQv-li">
					<a href="#">
						<img class="g1-index14-container-zhuanQv-li-img" src="template/public/img/other/g1-index14-4.png" alt="" />
					</a>
					<div class="g1-index14-container-zhuanQv-li-div">
						男装专区
					</div>
				</li>
				<li class="g1f_l g1-index14-container-zhuanQv-li">
					<a href="#">
						<img class="g1-index14-container-zhuanQv-li-img" src="template/public/img/other/g1-index14-4.png" alt="" />
					</a>
					<div class="g1-index14-container-zhuanQv-li-div">
						男装专区
					</div>
				</li>
			</ul>
			<!--新品上市-->		
			<a class="g1-index14-container-xinPin-title" href="#">
				新款上市
			</a>
			<ul class="g1-index14-container-xinPin clearFix">
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-6.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-7.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-8.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-9.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-10.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-11.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
			</ul>
			<!--精品男装-->
			<a class="g1-index14-container-xinPin-title" href="#">
				精品男装
			</a>
			<ul class="g1-index14-container-xinPin clearFix">
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-6.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/img/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-7.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-8.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-9.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-10.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
				<li class="g1-index14-container-xinPin-li">
					<a href="#"><img class="g1-index14-container-xinPin-li-img" src="template/public/img/other/g1-index14-11.png" alt="" /></a>
					<div class="g1f_l g1-index14-container-xinPin-li-div">
						<p class="g1-index14-container-xinPin-li-zi1">潮流情侣，秋季费尽口舌</p>
						<p class="g1-index14-container-xinPin-li-zi2">￥258 <img src="template/public/img/other/g1-index14-13.png"/></p>
					</div>
					<a href="#" class="g1-index14-container-xinPin-li-a">
						<img src="template/public/img/other/g1-index14-12.png"/>
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>