<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
	<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
	<link rel="stylesheet" href="template/public/css/libraries/base.css">
	<link rel="stylesheet" href="template/public/css/top-1.css">
	<link rel="stylesheet" href="template/public/css/foot-1.css">
	<link rel="stylesheet" href="template/public/css/content-1.css">
	<script src="template/public/js/libraries/jquery-1.js"></script>
	<script src="template/public/js/libraries/swiper.js"></script>
	<script src="template/public/js/content-1.js"><script src="js/top-1.js"></script>
	<title>首页一</title>
</head>
<body>
<!-- main -->
<div class="main"><!-- banner modules -->
<div class="y1-mian-banner">
    <div class="f1-main-banner-box">
        <div class="swiper-container swiper-container-fade swiper-container-horizontal">
            <div class="swiper-wrapper" >
                <div class="swiper-slide swiper-slide-active" >
                    <img src="template/public/img/1-main-banner1.jpg" alt="">
                </div>
                <div class="swiper-slide swiper-slide-next">
                    <img src="template/public/img/1-main-banner2.jpg" alt="">
                </div>
            </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
</div>
<div class="y1-main-container">
    <div class="container-content1-box">
        <img src="template/public/img/content1-img1.jpg" alt="">
        <a href="javascript:;">
            <div class="content1-box2">
                <p class="box2-p1">美包配饰</p>
                <p class="box2-p2">限时抢购</p>
            </div>
        </a>
    </div>
    <div class="container-content1-box">
        <img src="template/public/img/content1-img2.jpg" alt="">
        <a href="javascript:;">
            <div class="content1-box2">
                <p class="box2-p1">百搭必备</p>
                <p class="box2-p2">限时抢购</p>
            </div>
        </a>
    </div>
    <div class="container-content1-box">
        <img src="template/public/img/content1-img3.jpg" alt="">
        <a href="javascript:;">
            <div class="content1-box2">
                <p class="box2-p1">日韩美衣</p>
                <p class="box2-p2">限时抢购</p>
            </div>
        </a>
    </div>
    <div class="container-content1-box">
        <img src="template/public/img/content1-img4.jpg" alt="">
        <a href="javascript:;">
            <div class="content1-box2">
                <p class="box2-p1">潮流男装</p>
                <p class="box2-p2">限时抢购</p>
            </div>
        </a>
    </div>
</div>
<!--title modules-->
<div class="y1-title">
    <p class="title-p1">新品</p>
    <p class="title-p2">New</p>
</div>
<!--content modules-->
<div class="y1-main-container">
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img1.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img2.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img3.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img4.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
</div>
<!--ads modules-->
<a href="javascript:;">
    <div class="y1-main-container">
        <img src="template/public/img/ads-img1.jpg" alt="">
    </div>
</a>
<!--title modules-->
<div class="y1-title">
    <p class="title-p1">热销</p>
    <p class="title-p2">Hot</p>
</div>
<!--content modules-->
<div class="y1-main-container">
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img11.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img22.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img33.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img44.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
</div>
<!--title modules-->
<div class="y1-title">
    <p class="title-p1">男装</p>
    <p class="title-p2">Cloing</p>
</div>
<!--column modules-->
<div class="y1-column-div">
    <ul class="y1-column-ul">
        <li class="y1-cn-li active">女装</li>
        <li class="y1-cn-li">|</li>
        <li class="y1-cn-li">男装</li>
        <li class="y1-cn-li">|</li>
        <li class="y1-cn-li">配饰</li>
    </ul>
</div>
<!--content modules-->
<div class="y1-main-container">
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img1.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img2.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img3.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img4.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img1.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img2.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img3.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img4.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
</div>
<!--title modules-->
<div class="y1-title">
    <p class="title-p1">女装</p>
    <p class="title-p2">Cloing</p>
</div>
<!--column modules-->
<div class="y1-column-div">
    <ul class="y1-column-ul">
        <li class="y1-cn-li active">女装</li>
        <li class="y1-cn-li">|</li>
        <li class="y1-cn-li">男装</li>
        <li class="y1-cn-li">|</li>
        <li class="y1-cn-li">配饰</li>
    </ul>
</div>
<!--content modules-->
<div class="y1-main-container">
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img1.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img2.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img3.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img4.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img1.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img2.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img3.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
    <div class="container-content2-box">
        <a href="javascript:;">
            <img src="template/public/img/content2-img4.jpg" alt="">
        </a>
        <a href="javascript:;">
            <p class="box-p1">落肩侧双面设计女款无袖衬衫</p>
        </a>
        <p class="box-p2">￥<span class="money">399</span>.00</p>
    </div>
</div></div>
</body></html>