<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/content-10.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/content-10.js"></script>
		<title></title>
	</head>
	<body>
		<!--轮播-->
		<div class="swiper-container">					
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/flower-index-4.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
			    	<a href="#">
			    		<img src="template/public/img/other/flower-index-4.png" alt="" />
			    	</a>
			    </div>
			    <div class="swiper-slide">
		      		<a href="#">
		      			<img src="template/public/img/other/flower-index-4.png" alt="" />
		      		</a>
			    </div>
		    </div>
		    <div class="swiper-pagination"></div>
		</div>
		<!--分类-->
		<div class="flower-index-main-container-fenl clearFix">
			<div class="flower-index-main-container-fenl-con clearFix">
				<div class="fflower_l flower-index-main-container-fenl-div">
					<a href="#"><img class="flower-index-main-container-fenl-img" src="template/public/img/other/flower-index-5.png" /></a>
					<p class="flower-index-main-container-fenl-p">玫瑰专区</p>
				</div>
				<div class="fflower_l flower-index-main-container-fenl-div">
					<a href="#"><img class="flower-index-main-container-fenl-img" src="template/public/img/other/flower-index-6.png" /></a>
					<p class="flower-index-main-container-fenl-p">求婚专区</p>
				</div>
				<div class="fflower_l flower-index-main-container-fenl-div">
					<a href="#"><img class="flower-index-main-container-fenl-img" src="template/public/img/other/flower-index-7.png" /></a>
					<p class="flower-index-main-container-fenl-p">送给母亲</p>
				</div>
				<div class="fflower_l flower-index-main-container-fenl-div">
					<a href="#"><img class="flower-index-main-container-fenl-img" src="template/public/img/other/flower-index-8.png" /></a>
					<p class="flower-index-main-container-fenl-p">约会专区</p>
				</div>
				<div class="fflower_l flower-index-main-container-fenl-div">
					<a href="#"><img class="flower-index-main-container-fenl-img" src="template/public/img/other/flower-index-9.png" /></a>
					<p class="flower-index-main-container-fenl-p">生日祝福</p>
				</div>
				<div class="fflower_l flower-index-main-container-fenl-div">
					<a href="#"><img class="flower-index-main-container-fenl-img" src="template/public/img/other/flower-index-10.png" /></a>
					<p class="flower-index-main-container-fenl-p">送老师</p>
				</div>
			</div>
		</div>
		<!--新品上市-->
		<div class="flower-index-main-container-newp1-bg">
			<div class="flower-index-main-container-newp1">
				<div class="flower-index-main-container-newp1-top">
					<p class="flower-index-main-container-newp1-top-p">鲜花新品</p>
					<img class="flower-index-main-container-newp1-top-img" src="template/public/img/other/flower-index-11.png" />
				</div>
				<div class="flower-index-main-container-newp1-bot">
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-12.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-13.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-14.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-15.jpg" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-16.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-17.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-18.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-19.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
				</div>
			</div>
		</div>
		<!--新品上市-->
		<div class="flower-index-main-container-newp1-bg flower-index-main-container-newp2-bg">
			<div class="flower-index-main-container-newp1">
				<div class="flower-index-main-container-newp1-top">
					<p class="flower-index-main-container-newp1-top-p">鲜花新品</p>
					<img class="flower-index-main-container-newp1-top-img" src="template/public/img/other/flower-index-11.png" />
				</div>
				<div class="flower-index-main-container-newp1-bot">
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-20.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-21.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-22.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-23.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-24.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-25.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-26.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
					<div class="fflower_l flower-index-main-container-newp1-bot-div">
						<a class="flower-index-main-container-newp1-bot-a1" href="#"><img class="flower-index-main-container-newp1-bot-img" src="template/public/img/other/flower-index-27.png" /></a>
						<a class="flower-index-main-container-newp1-bot-a2" href="#">忘情巴黎-33枝红玫瑰</a>
						<p class="flower-index-main-container-newp1-bot-p">&yen;：520</p>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>