<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/foot-11.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="cake-index-footer">
			<div class="cake-index-footer-content-top clearFix">
				<div class="cake-index-footer-content-top-da">
					<div class="fcake_l cake-index-footer-content-top-da-con">
						<p class="cake-index-footer-content-top-da-p">网站导航</p>
						<div class="cake-index-footer-content-top-da-div">
							<a href="#">首页</a>
							<a href="#">生日</a>
							<a href="#">爱情</a>
							<a href="#">儿童</a>
							<a href="#">多层</a>
							<a href="#">水果</a>
						</div>
					</div>
					<div class="fcake_l cake-index-footer-content-top-da-con">
						<p class="cake-index-footer-content-top-da-p">蛋糕分类</p>
						<div class="cake-index-footer-content-top-da-div">
							<a href="#">慕斯</a>
							<a href="#">芝士</a>
							<a href="#">奶油</a>
							<a href="#">水果</a>
							<a href="#">翻糖</a>
							<a href="#">抹茶</a>
						</div>
					</div>
					<div class="fcake_l cake-index-footer-content-top-da-con">
						<p class="cake-index-footer-content-top-da-p">帮助中心</p>
						<div class="cake-index-footer-content-top-da-div">
							<a href="#">会员</a>
							<a href="#">指南</a>
							<a href="#">支付</a>
							<a href="#">订单</a>
							<a href="#">配送</a>
							<a href="#">投诉</a>
						</div>
					</div>
					<div class="fcake_l cake-index-footer-content-top-da-con">
						<p class="cake-index-footer-content-top-da-p">帮助中心</p>
						<div class="cake-index-footer-content-top-da-div cake-index-footer-content-top-da-teDiv">
							<p href="#">客服电话：400-6878-520</p>
							<p href="#">工作时间：9:00-23:00</p>
							<p href="#">投诉建议：123456789@qq.com</p>
						</div>
					</div>
					<div class="fcake_r cake-index-footer-content-top-right">
						<img src="template/public/img/other/cake-index-20.jpg" />
						<p class="cake-index-footer-content-top-right-p">微信公众号</p>
					</div>
				</div>
			</div>
			<div class="cake-index-footer-content-bot">
				<p class="cake-index-footer-content-bot-da-p">COPYRIGHT 2014-2015, ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</body>
</html>
