<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/foot-3.css"/>
		<script src="template/public/js/libraries/jquery-1.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<title></title>
	</head>
	<body>
<!-- banner modules -->
<div class="x2-footer-box">
	<div class="x2-footer-huge1">
		<div class="x2-footer-third">
			<div class="x2-third-div">
				<div class="x2-third-guide">
					购物指南
				</div>
				<div class="x2-third-guide1">
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
					<a href="javascript:;" class="x2-third-guide1-a">支付流程</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何付款</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
				</div>
			</div>
			<div class="x2-third-div">
				<div class="x2-third-guide">
					购物指南
				</div>
				<div class="x2-third-guide1">
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
					<a href="javascript:;" class="x2-third-guide1-a">支付流程</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何付款</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
				</div>
			</div>
			<div class="x2-third-div">
				<div class="x2-third-guide">
					购物指南
				</div>
				<div class="x2-third-guide1">
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
					<a href="javascript:;" class="x2-third-guide1-a">支付流程</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何付款</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
				</div>
			</div>
			<div class="x2-third-div">
				<div class="x2-third-guide">
					购物指南
				</div>
				<div class="x2-third-guide1">
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
					<a href="javascript:;" class="x2-third-guide1-a">支付流程</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何付款</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
				</div>
			</div>
			<div class="x2-third-div">
				<div class="x2-third-guide">
					购物指南
				</div>
				<div class="x2-third-guide1">
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
					<a href="javascript:;" class="x2-third-guide1-a">支付流程</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何付款</a>
					<a href="javascript:;" class="x2-third-guide1-a">如何购买</a>
				</div>
			</div>
			<div class="x2-third-ewm">
				<img class="x2-footer-ewm" src="template/public/img/x2-ewm.jpg" />
				<p class="x2-third-p">快来扫一扫二维码关注我们吧</p>
			</div>
		</div>
		<div class="x2-fourth">
			<p class="x2-fourth-p1 x2-footer-none">增值电信业务经营许可证： 浙B2-20110446 网络文化经营许可证：浙网文[2015]0295-065号 12318举报 出版物网络交易平台服务经营备案证： 新出发浙备字第001号 </p>
			<p class="x2-fourth-p1">互联网违法和不良信息举报电话：0571-81683755 blxxjb@alibaba-inc.com 互联网药品信息服务资质证书编号：浙-（经营性）-2017-0005   浙公网安备 33010002000120号 </p>
			<p class="x2-fourth-p1">（浙）网械平台备字[2018]第00002号</p>
			<p class="x2-fourth-p1">&copy; 2003-2018 TMALL.COM 版权所有</p>
		</div>
		
	</div>
</div>
	</body>
</html>
