<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/foot-10.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<script src="template/public/js/foot-10.js"></script>
		<title></title>
	</head>
	<body>
		<div class="flower-index-footer">
			<div class="flower-index-footer-content-top clearFix">
				<div class="flower-index-footer-content-top-da">
					<ul class="fflower_l flower-index-footer-content-top-ul">
						<li class="flower-index-footer-content-top-li"><a href="#">购买指南</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">登录注册</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">在线选购</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">支付帮助</a></li>
					</ul>
					<ul class="fflower_l flower-index-footer-content-top-ul">
						<li class="flower-index-footer-content-top-li"><a href="#">关于我们</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">常见问题</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">关于我们</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">联系我们</a></li>
					</ul>
					<ul class="fflower_l flower-index-footer-content-top-ul">
						<li class="flower-index-footer-content-top-li"><a href="#">支付方式</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">支付宝</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">微信</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">网银</a></li>
					</ul>
					<ul class="fflower_l flower-index-footer-content-top-ul">
						<li class="flower-index-footer-content-top-li"><a href="#">售后服务</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">客服电话：400-6878-520</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">工作时间：9:00-23:00</a></li>
						<li class="flower-index-footer-content-top-li"><a href="#">投诉建议：123456789@qq.com</a></li>
					</ul>
					<div class="fflower_r flower-index-footer-content-top-right">
						<img src="template/public/img/other/flower-index-28.jpg" />
						<p class="flower-index-footer-content-top-right-p">微信公众号</p>
					</div>
				</div>
			</div>
			<div class="flower-index-footer-content-bot">
				<div class="flower-index-footer-content-bot-da">
					<p class="flower-index-footer-content-bot-da-p">Copyright 2013-2017 京ICP备10000000号-0</p>
					<p class="flower-index-footer-content-bot-da-p">
Copyright @ 2019 . All rights reserved.</p>
					<p class="flower-index-footer-content-bot-da-p">某某公司网站</p>
				</div>
			</div>
		</div>
	</body>
</html>
