<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css /">
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/foot-7.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.min.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<title></title>
	</head>
	<body>
		<div class="cha1-index-footer clearFix">
			<div class="cha1-index-footer-content">
				
				<ul class="cha1-index-footer-content-ul">
					<li class="fcha_l cha1-index-footer-content-li"><a href="#">关于我们</a></li>
					<li class="fcha_l cha1-index-footer-content-li"><a href="#">联系我们</a></li>
					<li class="fcha_l cha1-index-footer-content-li"><a href="#">联系客服</a></li>
					<li class="fcha_l cha1-index-footer-content-li"><a href="#">合作招商</a></li>
					<li class="fcha_l cha1-index-footer-content-li"><a href="#">商家帮助</a></li>
					<li class="fcha_l cha1-index-footer-content-li"><a href="#">营销中心</a></li>
					<li class="fcha_l cha1-index-footer-content-li"><a href="#">手机京东</a></li>
					<li class="fcha_l cha1-index-footer-content-li"><a href="#">友情链接</a></li>
				</ul>
				<div class="cha1-index-footer-content-div clearFix">
					<p class="cha1-index-footer-content-div-p"> &copy;2010-2018 1688.com 版权所有</p>
					<a class="cha1-index-footer-content-div-a" href="#">著作权与商标声明</a>
					<i class="cha1-index-footer-content-div-i">|</i>
					<a class="cha1-index-footer-content-div-a" href="#">法律声明</a>
					<i class="cha1-index-footer-content-div-i">|</i>
					<a class="cha1-index-footer-content-div-a" href="#">服务条款</a>
					<i class="cha1-index-footer-content-div-i">|</i>
					<a class="cha1-index-footer-content-div-a" href="#">隐私政策</a>
					<i class="cha1-index-footer-content-div-i">|</i>
					<a class="cha1-index-footer-content-div-a" href="#">联系我们</a>
					<i class="cha1-index-footer-content-div-i">|</i>
					<a class="cha1-index-footer-content-div-a" href="#">网站导航</a>
				</div>
	
			</div>
		</div>
	</body>
</html>
