<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/foot-2.css"/>
		<script src="template/public/js/libraries/jquery-1.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<title></title>
	</head>
	<body>
	<div class="footer"><div class="x3-footer-box">
	<div class="x3-footer-content clearFix">
		<div class="x3-footer-div x3-footer-marno">
			<a href="javascript:;" class="x3-footer-div-a">服务保障</a>
			<a href="javascript:;" class="x3-footer-div-a">正品保证</a>
			<a href="javascript:;" class="x3-footer-div-a">7天无理由放心退</a>
			<a href="javascript:;" class="x3-footer-div-a">退货返运费</a>
			<a href="javascript:;" class="x3-footer-div-a">7x15小时客服服务</a>
			<a href="javascript:;" class="x3-footer-div-a">7天无理由随心换</a>
		</div>
		<div class="x3-footer-div">
			<a href="javascript:;" class="x3-footer-div-a">服务保障</a>
			<a href="javascript:;" class="x3-footer-div-a">正品保证</a>
			<a href="javascript:;" class="x3-footer-div-a">7天无理由放心退</a>
			<a href="javascript:;" class="x3-footer-div-a">退货返运费</a>
			<a href="javascript:;" class="x3-footer-div-a">7x15小时客服服务</a>
			<a href="javascript:;" class="x3-footer-div-a">7天无理由随心换</a>
		</div>
		<div class="x3-footer-div">
			<a href="javascript:;" class="x3-footer-div-a">服务保障</a>
			<a href="javascript:;" class="x3-footer-div-a">正品保证</a>
			<a href="javascript:;" class="x3-footer-div-a">7天无理由放心退</a>
			<a href="javascript:;" class="x3-footer-div-a">退货返运费</a>
			<a href="javascript:;" class="x3-footer-div-a">7x15小时客服服务</a>
			<a href="javascript:;" class="x3-footer-div-a">7天无理由随心换</a>
		</div>
		<div class="x3-footer-div-erm">
			<img class="x3-footer-ewm" src="template/public/img/x2-ewm.jpg">
			<p class="x3-ewm-p">快来扫一扫二维码关注我们吧</p>
		</div>
		<div class="x3-footer-div">
			<a href="javascript:;" class="x3-footer-div-a">服务保障</a>
			<a href="javascript:;" class="x3-footer-div-a">正品保证</a>
			<a href="javascript:;" class="x3-footer-div-a">7天无理由放心退</a>
			<a href="javascript:;" class="x3-footer-div-a">退货返运费</a>
			<a href="javascript:;" class="x3-footer-div-a">7x15小时客服服务</a>
			<a href="javascript:;" class="x3-footer-div-a">7天无理由随心换</a>
		</div>
	</div>
	<div class="x3-footer-hr"></div>
	<div class="x3-foooter-bottom">
		<p class="x3-footer-p x3-footer-none">增值电信业务经营许可证： 浙B2-20110446 网络文化经营许可证：浙网文[2015]0295-065号 12318举报 出版物网络交易平台服务经营备案证： 新出发浙备字第001号 </p>
	</div>
</div></div>

</body></html>
	</body>
</html>
