<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<!--<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />-->
		<!--<link rel="stylesheet" href="template/public/css/base.css" />-->
		<link rel="stylesheet" href="template/public/css/foot-12.css" />
		<!--<script src="template/public/js/libraries/jquery-1.11.3.js"></script>-->
		<!--<script src="template/public/js/libraries/swiper.min.js"></script>-->
		<title></title>
	</head>
	<body>
		<div class="deng-index-footer">
			<div class="deng-index-footer-top clearFix">
				<div class="deng-index-footer-top-con">
					<img class="fdeng_l deng-index-footer-content-top-left" src="template/public/img/other/deng-index-1.png" />
					<div class="fdeng_r deng-index-footer-top-right">
						<div class="fdeng_l deng-index-footer-top-right-div">
							<p class="deng-index-footer-top-right-p">关于</p>
							<a class="deng-index-footer-top-right-a" href="#">关于我们</a>
							<a class="deng-index-footer-top-right-a" href="#">与我们合作</a>
							<a class="deng-index-footer-top-right-a" href="#">友情链接</a>
						</div>
						<div class="fdeng_l deng-index-footer-top-right-div">
							<p class="deng-index-footer-top-right-p">联系方式</p>
							<a class="deng-index-footer-top-right-a" href="#">新浪微博</a>
							<a class="deng-index-footer-top-right-a" href="#">电子邮件</a>
						</div>
						<div class="fdeng_l deng-index-footer-top-right-div">
							<p class="deng-index-footer-top-right-p">旗下产品</p>
							<a class="deng-index-footer-top-right-a" href="#">LED灯具</a>
							<a class="deng-index-footer-top-right-a" href="#">卧室灯具</a>
							<a class="deng-index-footer-top-right-a" href="#">客厅灯具</a>
						</div>
						<div class="fdeng_l deng-index-footer-top-right-div">
							<p class="deng-index-footer-top-right-p">赞助商</p>
							<a class="deng-index-footer-top-right-a" href="#">企乐商城</a>
							<a class="deng-index-footer-top-right-a" href="#">企乐物流</a>
							<a class="deng-index-footer-top-right-a" href="#">企乐小程序</a>
						</div>
					</div>
				</div>
			</div>
			<div class="deng-index-footer-content-bot">
				<span class="deng-index-footer-content-bot-span">热线电话：000-000000</span>
				<span class="deng-index-footer-content-bot-span">联系邮箱：contact@fkadjkhsf.co</span>
				<span class="deng-index-footer-content-bot-span">联系地址：XXX省XXX市XXX县XXX路XXX号</span>
			</div>
			</div>
		</div>
	</body>
</html>
