<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/foot-9.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.min.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="xiefu-index-footer">
			<div class="xiefu-index-footer-content-top clearFix">
				<div class="xiefu-index-footer-content-top-da">
					<ul class="fxiefu_l xiefu-index-footer-content-top-ul">
						<li class="xiefu-index-footer-content-top-li"><a href="#">购买指南</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">登录注册</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">在线选购</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">支付帮助</a></li>
					</ul>
					<ul class="fxiefu_l xiefu-index-footer-content-top-ul">
						<li class="xiefu-index-footer-content-top-li"><a href="#">关于我们</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">常见问题</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">关于我们</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">联系我们</a></li>
					</ul>
					<ul class="fxiefu_l xiefu-index-footer-content-top-ul">
						<li class="xiefu-index-footer-content-top-li"><a href="#">支付方式</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">支付宝</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">微信</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">网银</a></li>
					</ul>
					<ul class="fxiefu_l xiefu-index-footer-content-top-ul">
						<li class="xiefu-index-footer-content-top-li"><a href="#">售后服务</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">商品质量</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">物流配送</a></li>
						<li class="xiefu-index-footer-content-top-li"><a href="#">投诉建议</a></li>
					</ul>
					<div class="fxiefu_r xiefu-index-footer-content-top-right">
						<img src="template/public/img/other/xiefu-index-43.jpg" />
						<p class="xiefu-index-footer-content-top-right-p">微信公众号</p>
					</div>
				</div>
			</div>
			<div class="xiefu-index-footer-content-bot">
				<div class="xiefu-index-footer-content-bot-da">
					<p class="xiefu-index-footer-content-bot-da-p">信息网络传播视听节目许可证1908287号</p>
					<p class="xiefu-index-footer-content-bot-da-p">|</p>
					<p class="xiefu-index-footer-content-bot-da-p">互联网直播服务备案号：沪ILS备201708210007</p>
				</div>
			</div>
		</div>
	</body>
</html>
