<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/foot-1.css"/>
		<script src="template/public/js/libraries/jquery-1.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		<title></title>
	</head>
	<body>
<!-- banner modules -->
	<div class="x1-footer-boxs">
	<div class="x1-footer-box clearFix">
		<div class="x1-footer-div">
			<div class="x1-footer-div-top">
				用户支持
			</div>
			<div class="x1-footer-div-center">
				<a href="javascript:;" class="x1-footer-a">新手上路</a>
				<a href="javascript:;" class="x1-footer-a">支付配送</a>
				<a href="javascript:;" class="x1-footer-a">会员服务</a>
				<a href="javascript:;" class="x1-footer-a">订单查询</a>
				<a href="javascript:;" class="x1-footer-a">退款说明</a>
				<a href="javascript:;" class="x1-footer-a">帮助中心</a>
			</div>
		</div>
		<div class="x1-footer-div">
			<div class="x1-footer-div-top">
				购物指南
			</div>
			<div class="x1-footer-div-center">
				<a href="javascript:;" class="x1-footer-a">新手上路</a>
				<a href="javascript:;" class="x1-footer-a">支付配送</a>
				<a href="javascript:;" class="x1-footer-a">会员服务</a>
				<a href="javascript:;" class="x1-footer-a">订单查询</a>
				<a href="javascript:;" class="x1-footer-a">退款说明</a>
				<a href="javascript:;" class="x1-footer-a">帮助中心</a>
			</div>
		</div>
		<div class="x1-footer-div">
			<div class="x1-footer-div-top">
				关于我们
			</div>
			<div class="x1-footer-div-center">
				<a href="javascript:;" class="x1-footer-a">联系我们</a>
				<a href="javascript:;" class="x1-footer-a">加入我们</a>
				<a href="javascript:;" class="x1-footer-a">隐私条款</a>
				<a href="javascript:;" class="x1-footer-a">品牌故事</a>
			</div>
		</div>
		<div class="x1-footer-div">
			<div class="x1-footer-div-top">
				售后服务
			</div>
			<div class="x1-footer-div-center">
				<a href="javascript:;" class="x1-footer-a">联系我们</a>
				<a href="javascript:;" class="x1-footer-a">加入我们</a>
				<a href="javascript:;" class="x1-footer-a">隐私条款</a>
				<a href="javascript:;" class="x1-footer-a">品牌故事</a>
			</div>
		</div>
		<div class="x1-footer-ewm">
			<img src="template/public/img/x1-footer-ewm.jpg" />
		</div>
		<div class="x1-footer-text">
			<p class="x1-footer-text-p1">400-554-6399</p>
			<p class="x1-footer-text-p2">客服部  <span>service@fnji.com</span></p>
			<p class="x1-footer-text-p2">市场部  <span>marketing@fnji.com</span></p>
		</div>
	</div>
</div>
<div class="x1-footer2">
	<p class="x1-footer2-p1 x1-footer-none">增值电信业务经营许可证： 浙B2-20110446 网络文化经营许可证：浙网文[2015]0295-065号 12318举报 出版物网络交易平台服务经营备案证： 新出发浙备字第001号 </p>
	<p class="x1-footer2-p1">互联网违法和不良信息举报电话：0571-81683755 blxxjb@alibaba-inc.com 互联网药品信息服务资质证书编号：浙-（经营性）-2017-0005   浙公网安备 33010002000120号 </p>
	<p class="x1-footer2-p1">（浙）网械平台备字[2018]第00002号</p>
	<p class="x1-footer2-p1">&copy; 2003-2018 TMALL.COM 版权所有</p>
</div>
	</body>
</html>
