<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css">
		<link rel="stylesheet" href="template/public/css/base.css">
		<link rel="stylesheet" href="template/public/css/foot-4.css" />
		<script src="template/public/js/libraries/jquery-1.12.4.js"></script>
		<script src="template/public/js/libraries/swiper.js"></script>
		
		<title>首页4</title>
	</head>
	<body>
		
		<!--底部开始-->
		<div class="g1-index4-Footer">
			<div class="g1-index4-Footer-content">
				<img class="g1-index4-Footer-logo" src="template/public/img/other/g1-index4-2.png" alt="" />
				<p class="g1-index4-Footer-content-ziti">增值电信业务经营许可证： 浙B2-20110446 网络文化经营许可证：浙网文[2015]0295-065号 12318举报 出版物网络交易平台服务经营备案址 ： 新出发浙备字第001号</p>
				<p class="g1-index4-Footer-content-ziti">互联网违法和不良信息举报电话：0571-81683755 blxxjb@alibaba-inc.com 互联网药品信息服务资质证书编号：浙-（经营性）-2017-0005 浙公网安备 33010002000120号 </p>
				<p class="g1-index4-Footer-content-ziti">[浙]网械平台备字[2018]第00002号</p>
				<p class="g1-index4-Footer-content-ziti">&copy; 2003-2018 TMALL.COM 版权所有</p>
				<ul class="g1-index4-Footer-content-ul">
					<li class="g1-index4-Footer-content-ul-li g1f_l"><a href="#">关于我们</a></li>
					<li class="g1-index4-Footer-content-ul-li g1f_l">|</li>
					<li class="g1-index4-Footer-content-ul-li g1f_l"><a href="#">售后服务</a></li>
					<li class="g1-index4-Footer-content-ul-li-k g1f_l"></li>
					<li class="g1-index4-Footer-content-ul-li g1f_l"><a href="#">如何购买</a></li>
					<li class="g1-index4-Footer-content-ul-li g1f_l">|</li>
					<li class="g1-index4-Footer-content-ul-li g1f_l"><a href="#">支付流程</a></li>
				</ul>
			</div>
		</div>
	</body>
	<!--轮播图js-->
</html>
