<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta http-equiv="X-UA-Compatible" content="ie=10, chrome=1">
		<link rel="stylesheet" href="template/public/css/libraries/swiper.css" />
		<link rel="stylesheet" href="template/public/css/base.css" />
		<link rel="stylesheet" href="template/public/css/foot-13.css" />
		<script src="template/public/js/libraries/jquery-1.11.3.js"></script>
		<script src="template/public/js/libraries/swiper.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="ghmz-index-footer">
			<div class="ghmz-index-footer-content-top clearFix">
				<div class="ghmz-index-footer-content-top-da">
					<a href="#">首页</a>
					<a href="#">测评中心</a>
					<a href="#">专家测评</a>
					<a href="#">小样申请</a>
					<a href="#">你的专属推荐</a>
				</div>
			</div>
			<div class="ghmz-index-footer-content-bot">
				<span class="ghmz-index-footer-content-bot-span">热线电话：000-000000</span>
				<span class="ghmz-index-footer-content-bot-span">联系邮箱：contact@fkadjkhsf.co</span>
				<span class="ghmz-index-footer-content-bot-span">联系地址：XXX省XXX市XXX县XXX路XXX号</span>
			</div>
			</div>
		</div>
	</body>
</html>
